/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.ActionTypePresentationBean
import io.crates.api.models.EventTypePresentationBean
import io.crates.api.models.MoveToPathActionLastUsedPathsPresentationBean
import io.crates.api.models.RenameActionPropertiesPresentationBean

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class ActionsApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * POST /actions/open.browser
        * Inserts a OpenBrowserAction
        * 
         * @param body  
         * @return void
        */
        public open suspend fun actionsAddOpenBrowserActionActionsOpenBrowser(body: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/actions/open.browser",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /actions/combo
        * Inserts a TuneComboAction
        * 
         * @param body  
         * @return void
        */
        public open suspend fun actionsAddTuneComboActionActionsCombo(body: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/actions/combo",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /actions/tune.discogs
        * Inserts a TuneGetDiscogsInfoAction
        * 
         * @param body  
         * @return void
        */
        public open suspend fun actionsAddTuneDiscogsActionActionsTuneDiscogs(body: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/actions/tune.discogs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /actions/tune.movetocrate
        * Inserts a TuneMoveToCrateAction
        * 
         * @param body  
         * @return void
        */
        public open suspend fun actionsAddTuneMoveToCrateActionActionsTuneMovetocrate(body: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/actions/tune.movetocrate",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /actions/tune.test
        * Inserts a TuneTestAction
        * 
         * @param body  
         * @return void
        */
        public open suspend fun actionsAddTuneTestActionActionsTuneTest(body: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/actions/tune.test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /actions/tune.waveform.analyzer
        * Inserts a TuneWaveformAnalyzerAction
        * 
         * @param body  
         * @return void
        */
        public open suspend fun actionsAddTuneWaveformAnalyzerActionActionsTuneWaveformAnalyzer(body: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/actions/tune.waveform.analyzer",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /actions/{action_id}/tunes/{tune_id}
        * Apply Action to Tune
        * Apply an action to a specific tune
         * @param actionId The id of the action to be applied 
         * @param tuneId The id of the tune to be applied 
         * @param params The serialized params of the action (optional)
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun actionsApplyActionActionsActionIdTunesTuneId(actionId: kotlin.String, tuneId: kotlin.String, params: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            params?.apply { localVariableQuery["params"] = listOf("$params") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/actions/{action_id}/tunes/{tune_id}".replace("{" + "action_id" + "}", "$actionId").replace("{" + "tune_id" + "}", "$tuneId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /actions/{action_id}/crates
        * Apply Action to Multiple Crates
        * Apply an action to a list of crates. If &#39;all&#39; query param is true, then it applies the action to all tunes found in DB
         * @param actionId The id of the action to be applied 
         * @param body  
         * @param params  (optional)
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun actionsApplyActionToCratesActionsActionIdCrates(actionId: kotlin.String, body: kotlin.String, params: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()
            params?.apply { localVariableQuery["params"] = listOf("$params") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/actions/{action_id}/crates".replace("{" + "action_id" + "}", "$actionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /actions/{action_id}/tunes
        * Apply Action to Multiple Tunes
        * Apply an action to a list of tunes. If &#39;all&#39; query param is true, then it applies the action to all tunes found in DB
         * @param actionId The id of the action to be applied 
         * @param all if true, then get all tunes from DB, else get only the input list 
         * @param body  
         * @param params if true, then get all tunes from DB, else get only the input list (optional)
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun actionsApplyActionToMultipleTunesActionsActionIdTunes(actionId: kotlin.String, all: kotlin.String, body: kotlin.String, params: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()
            all?.apply { localVariableQuery["all"] = listOf("$all") }
            params?.apply { localVariableQuery["params"] = listOf("$params") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/actions/{action_id}/tunes".replace("{" + "action_id" + "}", "$actionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /actions/copy.to/{crate_id}
        * Copies tunes of a crate to a specific folder
        * Copies all audiosources of the tunes of this crate to a specific path (probably of a USB stick) and rename it according to the naming pattern
         * @param crateId The id of the crate that the tunes belong to 
         * @param path the path to copy the audiosources of the tune (optional)
         * @param pattern The naming pattern to rename the audiosources (optional)
         * @param includeorderingid whether to include the ordering id of the tune in that crate or not (optional)
         * @param conversionProfileId the conversion profile to apply to conversion audio files in other format (optional)
         * @return void
        */
        public open suspend fun actionsCopyToActionsCopyToCrateId(crateId: kotlin.String, path: kotlin.String?, pattern: kotlin.String?, includeorderingid: kotlin.String?, conversionProfileId: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            path?.apply { localVariableQuery["path"] = listOf("$path") }
            pattern?.apply { localVariableQuery["pattern"] = listOf("$pattern") }
            includeorderingid?.apply { localVariableQuery["includeorderingid"] = listOf("$includeorderingid") }
            conversionProfileId?.apply { localVariableQuery["conversionProfileId"] = listOf("$conversionProfileId") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/actions/copy.to/{crate_id}".replace("{" + "crate_id" + "}", "$crateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /actions/copy.to/params
        * The default params of the copy to action
        * 
         * @return void
        */
        public open suspend fun actionsCopyToParamsActionsCopyToParams(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/actions/copy.to/params",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /actions/copy.to/path/space
        * Checks the available disk space for a requested destination path
        * Returns the amount of free and total space on the filesystem that contains the requested path. Optional crateId/conversionProfileId parameters drive a required-size estimate.
         * @param path The destination path that should be evaluated 
         * @param crateId Crate ID that is going to be exported (optional) (optional)
         * @param conversionProfileId Conversion profile that will be applied to the export (optional) (optional)
         * @return void
        */
        public open suspend fun actionsCopyToPathAvailableSpaceActionsCopyToPathSpace(path: kotlin.String, crateId: kotlin.String?, conversionProfileId: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            path?.apply { localVariableQuery["path"] = listOf("$path") }
            crateId?.apply { localVariableQuery["crateId"] = listOf("$crateId") }
            conversionProfileId?.apply { localVariableQuery["conversionProfileId"] = listOf("$conversionProfileId") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/actions/copy.to/path/space",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /actions/{id}
        * Gets Action
        * Gets Action by ActionId
         * @param id The id of the action to be retrieved 
         * @return void
        */
        public open suspend fun actionsGetActionActionsId(id: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/actions/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /actions/types
        * Get all Available Types of Actions
        * Retrieves all available types of actions
         * @return kotlin.collections.List<ActionTypePresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun actionsGetAllActionTypesActionsTypes(): HttpResponse<kotlin.collections.List<ActionTypePresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/actions/types",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /actions
        * Gets All End-User Actions
        * Gets All Actions that has a registered shortcut abnd thus, can be invoked by the end-user
         * @return void
        */
        public open suspend fun actionsGetAllActionsActions(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/actions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /actions/events
        * Get all Available Events
        * Get all events available to trigger actions
         * @return kotlin.collections.List<EventTypePresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun actionsGetAllEventsActionsEvents(): HttpResponse<kotlin.collections.List<EventTypePresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/actions/events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /actions/renaming.pattern.attributes
        * returns the available rename attributes for the renaming actions
        * 
         * @return kotlin.collections.List<RenameActionPropertiesPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun actionsGetAvailableRenamingPropertiesActionsRenamingPatternAttributes(): HttpResponse<kotlin.collections.List<RenameActionPropertiesPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/actions/renaming.pattern.attributes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /actions/events.triggers.actions
        * Get Events that triggers actions
        * Get only those events that can further trigger other actions
         * @return kotlin.collections.List<EventTypePresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun actionsGetEventsTriggersActionsActionsEventsTriggersActions(): HttpResponse<kotlin.collections.List<EventTypePresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/actions/events.triggers.actions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /actions/test
        * Testing operation
        * A &#39;Hello World&#39; method to verify that the service is running
         * @return void
        */
        public open suspend fun actionsHelloWorldActionsTest(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/actions/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /actions/move.to.path.crate/{crate_id}
        * Moves default audiosources of all tunes of a crate to a specific folder
        * Moves all audiosources of the tunes of this crate to a specific path.
         * @param crateId The id of the crate that the tunes belong to 
         * @param path the path to move the audiosources of the tune (optional)
         * @param pattern the pattern to rename the audiosources of the tune after moving the (optional)
         * @return void
        */
        public open suspend fun actionsMoveCrateToPathActionsMoveToPathCrateCrateId(crateId: kotlin.String, path: kotlin.String?, pattern: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            path?.apply { localVariableQuery["path"] = listOf("$path") }
            pattern?.apply { localVariableQuery["pattern"] = listOf("$pattern") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/actions/move.to.path.crate/{crate_id}".replace("{" + "crate_id" + "}", "$crateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /actions/move.to.path.paths
        * Gets the last recently used paths, indicating which was the last used
        * 
         * @return kotlin.collections.List<MoveToPathActionLastUsedPathsPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun actionsMoveTuneToPatGetPathsActionsMoveToPathPaths(): HttpResponse<kotlin.collections.List<MoveToPathActionLastUsedPathsPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/actions/move.to.path.paths",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /actions/move.to.path.tune/{tune_id}
        * Moves default audiosources of a tune a specific folder
        * Moves all audiosources of a tune to a specific path.
         * @param tuneId The id of the tune to be moved 
         * @param path the path to move the audiosources of the tune (optional)
         * @param pattern the pattern to rename the audiosources of the tune (optional)
         * @return void
        */
        public open suspend fun actionsMoveTuneToPathActionsMoveToPathTuneTuneId(tuneId: kotlin.String, path: kotlin.String?, pattern: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            path?.apply { localVariableQuery["path"] = listOf("$path") }
            pattern?.apply { localVariableQuery["pattern"] = listOf("$pattern") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/actions/move.to.path.tune/{tune_id}".replace("{" + "tune_id" + "}", "$tuneId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /actions/move.to.path.paths.remove
        * Removes a path from the last recently used paths. Returns the remaining list
        * 
         * @param path the path to remove from the list of recently used 
         * @return kotlin.collections.List<MoveToPathActionLastUsedPathsPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun actionsMoveTuneToPathRemovePathActionsMoveToPathPathsRemove(path: kotlin.String): HttpResponse<kotlin.collections.List<MoveToPathActionLastUsedPathsPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            path?.apply { localVariableQuery["path"] = listOf("$path") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/actions/move.to.path.paths.remove",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /actions/move.to.path.tunes
        * Moves default audiosources of a list of tunes a specific folder
        * Moves all audiosources of a list of tunes to a specific path.
         * @param body  
         * @param path the path to move the audiosources of the tune (optional)
         * @return void
        */
        public open suspend fun actionsMoveTunesToPathActionsMoveToPathTunes(body: kotlin.String, path: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()
            path?.apply { localVariableQuery["path"] = listOf("$path") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/actions/move.to.path.tunes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /actions/populate.metata.data/{tune_id}
        * Populates the tune&#39;s metadata based on the filename
        * Populates the tune&#39;s metadata based on the filename according to the naming pattern
         * @param tuneId The id of the tune 
         * @param pattern The pattern to retrieve the metadata (optional)
         * @param addParentFolderAsTheReleaseName whether to include the father folder as the tune&#39;s release name (optional)
         * @return void
        */
        public open suspend fun actionsPopulateMetaDataFromAudiofileActionsPopulateMetataDataTuneId(tuneId: kotlin.String, pattern: kotlin.String?, addParentFolderAsTheReleaseName: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            pattern?.apply { localVariableQuery["pattern"] = listOf("$pattern") }
            addParentFolderAsTheReleaseName?.apply { localVariableQuery["addParentFolderAsTheReleaseName"] = listOf("$addParentFolderAsTheReleaseName") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/actions/populate.metata.data/{tune_id}".replace("{" + "tune_id" + "}", "$tuneId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /actions/populate.metata.data/params
        * The default params of the populate metadata from filename action
        * 
         * @return void
        */
        public open suspend fun actionsPopulateMetaDataFromAudiofileParamsActionsPopulateMetataDataParams(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/actions/populate.metata.data/params",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /actions/redo
        * Redo the last undone action
        * 
         * @return void
        */
        public open suspend fun actionsRedoActionsRedo(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/actions/redo",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /actions/{id}
        * Gets Action
        * Gets Action by ActionId
         * @param id The id of the action to be retrieved 
         * @return void
        */
        public open suspend fun actionsRemoveActionActionsId(id: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/actions/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /actions/{action_id}/stop
        * Stops any running executions of action with action_id
        * 
         * @param actionId The id of the action to be applied 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun actionsStopActionActionsActionIdStop(actionId: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/actions/{action_id}/stop".replace("{" + "action_id" + "}", "$actionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /actions/undo
        * Undo the last action
        * 
         * @return void
        */
        public open suspend fun actionsUndoActionsUndo(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/actions/undo",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /actions
        * Update an existing Action
        * 
         * @param body  
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun actionsUpdateActionActions(body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/actions",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
