/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis


import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class AudiofilesApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /audiofiles/path
        * Get a tune from its absolute path
        * Returns a tune (if exists) with given the absolute path of a file
         * @param path path to search the tune 
         * @return void
        */
        public open suspend fun audiofilesGetTuneFromAbsolutePathAudiofilesPath(path: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            path?.apply { localVariableQuery["path"] = listOf("$path") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/audiofiles/path",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /audiofiles/relocate.all
        * Relocate the path of all audioFiles starting with old_path
        * returns the number of updated files
         * @param oldPath old path 
         * @param newPath new path  
         * @return void
        */
        public open suspend fun audiofilesRelocateAudioFilesAudiofilesRelocateAll(oldPath: kotlin.String, newPath: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            oldPath?.apply { localVariableQuery["old_path"] = listOf("$oldPath") }
            newPath?.apply { localVariableQuery["new_path"] = listOf("$newPath") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/audiofiles/relocate.all",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /audiofiles/path
        * Relocate the path of an audioFile
        * Returns a tune (if exists) with given the absolute path of a file
         * @param tuneId tune id 
         * @param audiofileId audioFile Id 
         * @param newPath path to search the tune 
         * @return void
        */
        public open suspend fun audiofilesUpdateAudioFilePathAudiofilesPath(tuneId: kotlin.String, audiofileId: kotlin.String, newPath: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            tuneId?.apply { localVariableQuery["tune_id"] = listOf("$tuneId") }
            audiofileId?.apply { localVariableQuery["audiofile_id"] = listOf("$audiofileId") }
            newPath?.apply { localVariableQuery["new_path"] = listOf("$newPath") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/audiofiles/path",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
