/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis


import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class CoversApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /covers/{id}/add
        * Add a new cover for a tune
        * Add a new cover for a tune, If tune already has a cover, will remove this cover and add the new one
         * @param id the id of the tune 
         * @param path the url of the cover 
         * @param replace (true/false) whether to just add to the existing covers (if they exist) or replace (delete then add) (optional)
         * @param pictureType Optional pictureType as defined here. if not defined &#39;4&#39; Cover(Front) is added by default  Picture type:  00 Other   01 32x32 pixels &#39;file icon&#39; (PNG only)   02 Other file icon   03 Cover (front)    04 Cover (back)   05 Leaflet page    06 Media (e.g. label side of CD)   07 Lead artist/lead performer/soloist  08 Artist/performer    09 Conductor    10 Band/Orchestra   11 Composer   12   Lyricist/text writer  13 Recording Location    14 During recording  15 During performance      16 Movie/video screen capture     17 A bright coloured fish     18 Illustration       19 Band/artist logotype      20 Publisher/Studio logotype (optional)
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun coversAddCoverByIdCoversIdAdd(id: kotlin.String, path: kotlin.String, replace: kotlin.String?, pictureType: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            path?.apply { localVariableQuery["path"] = listOf("$path") }
            replace?.apply { localVariableQuery["replace"] = listOf("$replace") }
            pictureType?.apply { localVariableQuery["pictureType"] = listOf("$pictureType") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/covers/{id}/add".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /covers/add
        * Add or replace a cover for an object (tune or release)
        * Add a new cover for an object (tune or release). If the object already has a cover, it will remove the old cover and add the new one if &#39;replace&#39; is true.
         * @param objectID The ID of the object (tune or release) 
         * @param objectType The type of the object (tune or release) 
         * @param path The URL of the cover 
         * @param replace (true/false) Whether to replace the existing cover (if any) or just add to it (optional)
         * @param pictureType Optional pictureType as defined. Defaults to &#39;4&#39; (Cover Front). (optional)
         * @param clientID The ID of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via WebSocket. Allowed values: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun coversAddOrReplaceCoverOfObjectCoversAdd(objectID: kotlin.Long, objectType: kotlin.String, path: kotlin.String, replace: kotlin.String?, pictureType: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            objectID?.apply { localVariableQuery["objectID"] = listOf("$objectID") }
            objectType?.apply { localVariableQuery["objectType"] = listOf("$objectType") }
            path?.apply { localVariableQuery["path"] = listOf("$path") }
            replace?.apply { localVariableQuery["replace"] = listOf("$replace") }
            pictureType?.apply { localVariableQuery["pictureType"] = listOf("$pictureType") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/covers/add",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /covers/discover/{tuneId}
        * Discovers a cover image for tune with Id
        * This is just to invoke retrieval for testing purposes. Refresh does this anyway.
         * @param tuneId  
         * @param id the id of the tune (optional)
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun coversDiscoverCoverFileByTuneIDCoversDiscoverTuneId(tuneId: kotlin.String, id: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            id?.apply { localVariableQuery["id"] = listOf("$id") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/covers/discover/{tuneId}".replace("{" + "tuneId" + "}", "$tuneId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /covers/byCoverID/{id}
        * Get a cover image
        * Retrieves a cover by the tune id in an &#39;image/jpg&#39; format, if it exists. If not, it will send a NOT FOUND http code
         * @param id the id of the Cover 
         * @param size (optional) the size of the picture &#39;thumb&#39; for thumbnail 80x80 (optional)
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun coversGetCoverByCoverIdCoversByCoverIDId(id: kotlin.String, size: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            size?.apply { localVariableQuery["size"] = listOf("$size") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/covers/byCoverID/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /covers/{tuneId}
        * Get a cover image
        * Retrieves a cover by the tune id in an &#39;image/jpg&#39; format, if it exists. If not, it will send a NOT FOUND http code
         * @param tuneId the id of the tune 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun coversGetCoverByTuneIdCoversTuneId(tuneId: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/covers/{tuneId}".replace("{" + "tuneId" + "}", "$tuneId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /covers/versions/{tune_id}
        * Get a json with all cover versions
        * 
         * @param tuneId the tune id for which the cover versions will be returned 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun coversGetCoverVersionsByTuneIDCoversVersionsTuneId(tuneId: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/covers/versions/{tune_id}".replace("{" + "tune_id" + "}", "$tuneId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /covers/coverVersion/{coverVersionId}
        * Get a cover image
        * Retrieves a cover by the tune id in an &#39;image/jpg&#39; format, if it exists. If not, it will send a NOT FOUND http code
         * @param coverVersionId the id of the Cover 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun coversGetImageByCoverVersionIdCoversCoverVersionCoverVersionId(coverVersionId: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/covers/coverVersion/{coverVersionId}".replace("{" + "coverVersionId" + "}", "$coverVersionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /covers/{id}/remove
        * Removes a cover from a tune
        * Removes a cover from a tunes, if it exists. If not, it will send a NOT FOUND http code
         * @param id the id of the tune 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun coversRemoveCoverByIdCoversIdRemove(id: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/covers/{id}/remove".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /covers
        * Remove the cover from an object (tune or release)
        * 
         * @param objectType the type of the object  
         * @param objectID the ID of the entity 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun coversRemoveCoverFromObjectCovers(objectType: kotlin.String, objectID: kotlin.Long, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            objectType?.apply { localVariableQuery["objectType"] = listOf("$objectType") }
            objectID?.apply { localVariableQuery["objectID"] = listOf("$objectID") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/covers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /covers/version/{coverVersionId}/remove
        * Removes a cover version from a cover
        * Removes a cover from a tunes, if it exists. If not, it will send a NOT FOUND http code
         * @param coverVersionId the id of the coverVersion 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun coversRemoveCoverVersionCoversVersionCoverVersionIdRemove(coverVersionId: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/covers/version/{coverVersionId}/remove".replace("{" + "coverVersionId" + "}", "$coverVersionId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
