/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.CrateBasicPresentationBean
import io.crates.api.models.CrateContentsPresentationBean
import io.crates.api.models.CratePresentationBean
import io.crates.api.models.CrateTunesPresentationBean
import io.crates.api.models.DefaultCratesInfo
import io.crates.api.models.TunePresentationBeanImpl

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class CratesApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * POST /crates/{parent_crate_id}/add
        * Adds a list of crates to a parent crate
        * Adds a list of subcrates to a parent crate, indicated by its parent_crate_id. Returns the parent crate with all its subcrates
         * @param parentCrateId the id of the parent crate 
         * @param body  
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return CratePresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesAddChildrenToCrateCratesParentCrateIdAdd(parentCrateId: kotlin.String, body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<CratePresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/crates/{parent_crate_id}/add".replace("{" + "parent_crate_id" + "}", "$parentCrateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /crates/{parent_crate_id}/clone
        * Clones a crate and adds it under a parent crate
        * Clones a crate and adds it under the parent crate, indicated by its parent_crate_id. Returns the cloned crate
         * @param parentCrateId the id of the parent crate 
         * @param body  
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return CratePresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesCloneCrateCratesParentCrateIdClone(parentCrateId: kotlin.String, body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<CratePresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/crates/{parent_crate_id}/clone".replace("{" + "parent_crate_id" + "}", "$parentCrateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /crates/{id}
        * Deletes a crate
        * Deletes a crate and optionally its underlying files and folders (moves to Recycle Bin)
         * @param id The id of the crate 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @param deleteFiles Flag to indicate whether to delete associated files and folders. Defaults to false (optional, default to false)
         * @return void
        */
        public open suspend fun cratesDeleteCrateCratesId(id: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?, deleteFiles: kotlin.Boolean?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            deleteFiles?.apply { localVariableQuery["deleteFiles"] = listOf("$deleteFiles") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/crates/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/{id}/m3u
        * Exports tunes that belong to crate to m3u
        * Returns the content of the m3u directly as the response
         * @param id the id of the crate 
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesExportTunesOfCrateInM3uCratesIdM3u(id: kotlin.String): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/{id}/m3u".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /crates/export
        * Exports tunes of the defined crate to the compatible format
        * the supported formats are  m3u and iTunes
         * @param path path to write the file 
         * @param body  
         * @param format if provided, the format to export (m3u or itunes compatible xml ) -if null, then it will produce m3u (optional)
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesExportTunesOfCratesCratesExport(path: kotlin.String, body: kotlin.String, format: kotlin.String?): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()
            format?.apply { localVariableQuery["format"] = listOf("$format") }
            path?.apply { localVariableQuery["path"] = listOf("$path") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/crates/export",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates
        * Get All Crates
        * Retrieves all crates stored in the database. Subcrates are not retrieved twice. 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.collections.List<CratePresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetAllCrates(clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.collections.List<CratePresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/{id}/children
        * Get crate by its id
        * Retrieves crate by crate&#39;s id and its corresponding subcrates
         * @param id the id of the crate 
         * @param allcrates true if need to return also the children of the collapsed crates. default is false (optional)
         * @param includeCollectionViews true if need to return also the collection views along with the crates. default is true (optional)
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return CratePresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetByIdAndSubcratesCratesIdChildren(id: kotlin.String, allcrates: kotlin.String?, includeCollectionViews: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<CratePresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            allcrates?.apply { localVariableQuery["allcrates"] = listOf("$allcrates") }
            includeCollectionViews?.apply { localVariableQuery["includeCollectionViews"] = listOf("$includeCollectionViews") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/{id}/children".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/{id}
        * Get crate by its id
        * Retrieves crate by crate&#39;s id, but not its subcrates
         * @param id the id of the crate 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param includeCollectionView  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return CratePresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetByIdCratesId(id: kotlin.String, clientID: kotlin.String?, includeCollectionView: kotlin.Boolean?, callbacks: kotlin.String?): HttpResponse<CratePresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            includeCollectionView?.apply { localVariableQuery["includeCollectionView"] = listOf("$includeCollectionView") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/{id}/contents
        * Get crate contents
        * Returns a mixed tile payload for the selected crate.
         * @param id the id of the crate 
         * @param includeChildren whether to include direct child crates in the tile payload (optional)
         * @param includeTunes whether to include tunes in the tile payload (optional)
         * @param includeInheritedTunes whether tunes propagated from child crates should be included (optional)
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return CrateContentsPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetContentsCratesIdContents(id: kotlin.String, includeChildren: kotlin.String?, includeTunes: kotlin.String?, includeInheritedTunes: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<CrateContentsPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            includeChildren?.apply { localVariableQuery["includeChildren"] = listOf("$includeChildren") }
            includeTunes?.apply { localVariableQuery["includeTunes"] = listOf("$includeTunes") }
            includeInheritedTunes?.apply { localVariableQuery["includeInheritedTunes"] = listOf("$includeInheritedTunes") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/{id}/contents".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/object
        * Get Crate by object type and object ID
        * Retrieves a Crate object that contains nested tunes and collection views, based on the given objectType and objectID
         * @param objectType The type of object to filter 
         * @param objectID The ID of the object to filter 
         * @param includeTunes whether to include tunes or not  
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return CrateTunesPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetCrateAndTunesByObjectCratesObject(objectType: kotlin.String, objectID: kotlin.String, includeTunes: kotlin.Boolean, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<CrateTunesPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            objectType?.apply { localVariableQuery["objectType"] = listOf("$objectType") }
            objectID?.apply { localVariableQuery["objectID"] = listOf("$objectID") }
            includeTunes?.apply { localVariableQuery["includeTunes"] = listOf("$includeTunes") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/object",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/tunes/{id}
        * Get All Crates that a tune belongs to
        * Retrieves all crates that the tune belongs to
         * @param id the id of the tune 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.collections.List<CrateBasicPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetCratesByTuneIDCratesTunesId(id: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.collections.List<CrateBasicPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/tunes/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/filter
        * Get All Crates that by its crate type
        * Retrieves all crates stored in the database and its type is mathced the header param. Subcrates are not retrieved twice. 
         * @param type the name of the crate type 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.collections.List<CratePresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetCratesByTypeCratesFilter(type: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.collections.List<CratePresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            type?.apply { localVariableQuery["type"] = listOf("$type") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/filter",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/filter/children
        * Get All Crates that by its crate type
        * Retrieves all crates stored in the database and its type is named &#39;filder&#39;. Subcrates are not retrieved twice, if the &#39;onlyparent&#39; is set to true.
         * @param filter the name of the crate type 
         * @param onlyparent if true, then it will only bring parent crates. if false, will duplicate crates if are children of a parent (optional)
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.collections.List<CratePresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetCratesWithSubcratesByTypeCratesFilterChildren(filter: kotlin.String, onlyparent: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.collections.List<CratePresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            filter?.apply { localVariableQuery["filter"] = listOf("$filter") }
            onlyparent?.apply { localVariableQuery["onlyparent"] = listOf("$onlyparent") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/filter/children",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/default.crates
        * Returns the default crate names and ids
        * 
         * @return kotlin.collections.List<DefaultCratesInfo>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetDefaultCratesCratesDefaultCrates(): HttpResponse<kotlin.collections.List<DefaultCratesInfo>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/default.crates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/default.root.crate
        * Returns the default root crate who has the path of the root folder
        * 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return CrateBasicPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetDefaultRootCrateCratesDefaultRootCrate(clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<CrateBasicPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/default.root.crate",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/default.search.crate
        * Returns the default search/smart crate to be used when searching for tunes
        * 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return CrateBasicPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetDefaultSearchCrateCratesDefaultSearchCrate(clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<CrateBasicPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/default.search.crate",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/{id}/duplicates/count
        * Returns the number of duplicate tune instances in a crate
        * 
         * @param id The id of the crate 
         * @return void
        */
        public open suspend fun cratesGetDuplicateTuneCountCratesIdDuplicatesCount(id: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/{id}/duplicates/count".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/hidden
        * Get all hidden crates
        * Retrieves all crates that are marked as hidden
         * @param clientID  (optional)
         * @param callbacks  (optional)
         * @return kotlin.collections.List<CrateBasicPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetHiddenCratesCratesHidden(clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.collections.List<CrateBasicPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/hidden",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/default.history.playlist
        * Returns the history playlist crate
        * 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return CrateBasicPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetHistoryPlaylistCratesDefaultHistoryPlaylist(clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<CrateBasicPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/default.history.playlist",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/tags/{tag_id}
        * Get All Crates by tag
        * Retrieves Crates from a tag
         * @param tagId the id of the tag 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.collections.List<CrateBasicPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetLabelsFromTagByIDCratesTagsTagId(tagId: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.collections.List<CrateBasicPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/tags/{tag_id}".replace("{" + "tag_id" + "}", "$tagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/tags
        * Get All Crates by tag
        * Retrieves Crates from a tag
         * @param tagname the name of the tag (optional)
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.collections.List<CrateBasicPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetLabelsFromTagByNameCratesTags(tagname: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.collections.List<CrateBasicPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            tagname?.apply { localVariableQuery["tagname"] = listOf("$tagname") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/tags",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/parent.search.crate
        * Returns the parent crate of all searches to be used when saving a search
        * 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return CrateBasicPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetParentSearchCrateCratesParentSearchCrate(clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<CrateBasicPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/parent.search.crate",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/recent.crates
        * Returns the recent crates, by default only the crates that are not search/smart crates. 
        * 
         * @param all  (optional)
         * @return kotlin.collections.List<DefaultCratesInfo>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetRecentCratesCratesRecentCrates(all: kotlin.Boolean?): HttpResponse<kotlin.collections.List<DefaultCratesInfo>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            all?.apply { localVariableQuery["all"] = listOf("$all") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/recent.crates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/{crate_id}/rename.release.crate/info
        * gets the result of the Release Rename Pattern action if applied (used in the modal asking for user approval)
        * rename pattern
         * @param crateId the id of the crate to be renamed 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return CratePresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetRenameReleaseCrateParamsCratesCrateIdRenameReleaseCrateInfo(crateId: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<CratePresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/{crate_id}/rename.release.crate/info".replace("{" + "crate_id" + "}", "$crateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/tabs
        * Get All Crates that can be shown on tabs
        * Retrieves all crates whose tabCrate attribute is true 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.collections.List<CrateBasicPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesGetTabCratesCratesTabs(clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.collections.List<CrateBasicPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/tabs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/{id}/tunes/count
        * Returns the number of tunes in a crate
        * 
         * @param id The id of the crate 
         * @return void
        */
        public open suspend fun cratesGetTuneCountCratesIdTunesCount(id: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/{id}/tunes/count".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /crates/{parent_crate_id}
        * Adds a new crate
        * Adds a new crate.If its is a smart crate, then its type MUST BE SMART_CRATE  and the query must be in the property field. Query and name must not be empty If no parent_crate is defined, crate will be under the default virtual/mirrored crate
         * @param parentCrateId The id of the parent crate to be added 
         * @param body  
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return CrateBasicPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesInsertCrateCratesParentCrateId(parentCrateId: kotlin.String, body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<CrateBasicPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/crates/{parent_crate_id}".replace("{" + "parent_crate_id" + "}", "$parentCrateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /crates/{parent_crate_id}/move/{index}
        * move a list of crates from all their parents crate to the new one
        * Moves a list of subcrates from their parent crate to a new parnet, indicated by its parent_crate_id. Returns the parent crate with all its subcrates after the removal
         * @param parentCrateId the id of the new parent crate 
         * @param index  
         * @param body  
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.collections.List<CratePresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesMoveChildrenFromCrateCratesParentCrateIdMoveIndex(parentCrateId: kotlin.String, index: kotlin.String, body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.collections.List<CratePresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/crates/{parent_crate_id}/move/{index}".replace("{" + "parent_crate_id" + "}", "$parentCrateId").replace("{" + "index" + "}", "$index"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/prepare.delete/{id}
        * Prepares for the deletion of a crate
        * Returns the number of subfolders, files, and tunes that will be deleted
         * @param id The id of the crate 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @return void
        */
        public open suspend fun cratesPrepareDeleteCrateFolderAndFilesCratesPrepareDeleteId(id: kotlin.String, clientID: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/prepare.delete/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /crates/{parent_crate_id}/reorder/{index}
        * reorder a list of existing subcrates to the new position indicating by the {index}
        * reorder a list of existing subcrates to the new position indicating by the {index}. Returns the parent crate with all its subcrates after the removal
         * @param parentCrateId the id of the new parent crate 
         * @param index the index to reorder 
         * @param body  
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @return CratePresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesReOrderSubCratesOfCrateCratesParentCrateIdReorderIndex(parentCrateId: kotlin.String, index: kotlin.String, body: kotlin.String, clientID: kotlin.String?): HttpResponse<CratePresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["clientID"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/crates/{parent_crate_id}/reorder/{index}".replace("{" + "parent_crate_id" + "}", "$parentCrateId").replace("{" + "index" + "}", "$index"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/update/{id}
        * Refreshes the list of tune that belongs to a crate
        * This web method updates the list of tunes of the crate. \\n     If it is a virtual or smart crate, then it simply checks if the audiofile tunes still exists\\n     If it is a watched folder or mirrored crate, it also checks if there are more files added\\n     If it is a soundcloud/discogs/youtube crate, it re-imports the tunes but won&#39;t return anything \\n     It returns back a list of tunes that now belongs to that crate
         * @param id the id of the crate 
         * @param full (true/false) if true it will re-scan the full remote source instead of resuming from the last successful item where supported (optional)
         * @param isDeepUpdate Legacy alias for full. If true it will perform deeper update than with simple update if possible (optional)
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.collections.List<TunePresentationBeanImpl>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesRefreshCrateCratesUpdateId(id: kotlin.String, full: kotlin.String?, isDeepUpdate: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.collections.List<TunePresentationBeanImpl>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            full?.apply { localVariableQuery["full"] = listOf("$full") }
            isDeepUpdate?.apply { localVariableQuery["isDeepUpdate"] = listOf("$isDeepUpdate") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/update/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /crates/{parent_crate_id}/remove
        * Removes a list of crates from a parent crate
        * Removes a list of subcrates from a parent crate, indicated by its parent_crate_id. Returns the parent crate with all its subcrates after the removal
         * @param parentCrateId the id of the parent crate 
         * @param body  
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.collections.List<CratePresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesRemoveChildrenFromCrateCratesParentCrateIdRemove(parentCrateId: kotlin.String, body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.collections.List<CratePresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/crates/{parent_crate_id}/remove".replace("{" + "parent_crate_id" + "}", "$parentCrateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /crates/{id}/duplicates
        * Removes duplicate tune instances from a crate
        * 
         * @param id The id of the crate 
         * @return void
        */
        public open suspend fun cratesRemoveDuplicateTunesCratesIdDuplicates(id: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/crates/{id}/duplicates".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/{crate_id}/rename.release.crate
        * Renames the crate and underlying folder according to the Release Rename Pattern
        * returns Crate Presentation Bean
         * @param crateId the id of the crate to be renamed 
         * @param renameFolder if true, if there is a corresponding folder of the crate, it will be renamed  (optional)
         * @param renamePattern if supplied it overrides the rename pattern for the release stored in preferences  (optional)
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return CratePresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesRenameReleaseCrateCratesCrateIdRenameReleaseCrate(crateId: kotlin.String, renameFolder: kotlin.String?, renamePattern: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<CratePresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            renameFolder?.apply { localVariableQuery["rename_folder"] = listOf("$renameFolder") }
            renamePattern?.apply { localVariableQuery["rename_pattern"] = listOf("$renamePattern") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/{crate_id}/rename.release.crate".replace("{" + "crate_id" + "}", "$crateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /crates/{parent_crate_id}/sort.subcrates
        * Move and reorder subcrates within the parent crate
        * Reorders the subcrates of the specified parent crate based on the provided sorting order. Optionally applies sorting recursively to all sub-crates.
         * @param parentCrateId The ID of the parent crate 
         * @param clientID The ID of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @param applyRecursively Flag to indicate whether to apply the sorting recursively (optional, default to false)
         * @param sortingOrderId Sorting order for the subcrates (optional)
         * @return CratePresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesReorderSubCratesCratesParentCrateIdSortSubcrates(parentCrateId: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?, applyRecursively: kotlin.Boolean?, sortingOrderId: kotlin.Int?): HttpResponse<CratePresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            applyRecursively?.apply { localVariableQuery["apply_recursively"] = listOf("$applyRecursively") }
            sortingOrderId?.apply { localVariableQuery["sorting_order_id"] = listOf("$sortingOrderId") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/crates/{parent_crate_id}/sort.subcrates".replace("{" + "parent_crate_id" + "}", "$parentCrateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/{crate_id}/watch
        * Sets a crate as a watched crate
        * Crate must be a folder crate. Watches this crate. Returns the new crate
         * @param crateId the id of the crate to be watched 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return CrateBasicPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesSetWatchedCrateCratesCrateIdWatch(crateId: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<CrateBasicPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/{crate_id}/watch".replace("{" + "crate_id" + "}", "$crateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/{id}/uncollapse.parents
        * Uncollapses all parent crates of given crate by its id
        * 
         * @param id the id of the crate to uncollapse all its parents 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return CratePresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesUncollapseAllParentCrateOfThisCrateCratesIdUncollapseParents(id: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<CratePresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/{id}/uncollapse.parents".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/{crate_id}/unwatch
        * Unsets a crate from being a watched crate
        * Crate must be a watched crate. Unatches this crate. Returns the new crate
         * @param crateId the id of the crate to be unwatched 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return CrateBasicPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesUnsetWatchedCrateCratesCrateIdUnwatch(crateId: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<CrateBasicPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/{crate_id}/unwatch".replace("{" + "crate_id" + "}", "$crateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /crates/collapsed/{crate_id}
        * Updates the collapsed attribute of a crate. Returns thhe new crate
        * Updates the collapsed attribute of a crate Crate ID must be set. collapsed attribute also must be set. By default is false
         * @param crateId the id of the crate 
         * @param collapsed the collapsed attribute of the crate, default is true (optional)
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun cratesUpdateCrateCollapsedCratesCollapsedCrateId(crateId: kotlin.String, collapsed: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            collapsed?.apply { localVariableQuery["collapsed"] = listOf("$collapsed") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/crates/collapsed/{crate_id}".replace("{" + "crate_id" + "}", "$crateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /crates
        * Updates a single crate
        * Updates a single crate according to its value. Does not update its subcrates, only the crate&#39;s parameters Crate ID must be set. If crate type is SMART_CRATE, then the properties must contain the query 
         * @param body  
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun cratesUpdateCrateCrates(body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/crates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /crates/update-hidden
        * Update the hidden status of a crate
        * Updates the hidden status of a specific crate based on the provided crate ID and hidden status
         * @param crateId The ID of the crate to update 
         * @param hidden The new hidden status for the crate (true/false) 
         * @param clientID  (optional)
         * @param callbacks  (optional)
         * @return kotlin.Any
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesUpdateHiddenStatusCratesUpdateHidden(crateId: kotlin.String, hidden: kotlin.Boolean, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.Any> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            crateId?.apply { localVariableQuery["crate_id"] = listOf("$crateId") }
            hidden?.apply { localVariableQuery["hidden"] = listOf("$hidden") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/crates/update-hidden",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /crates/update-locked
        * Update the locked status of a crate
        * Updates the locked status of a specific crate based on the provided crate ID and locked status
         * @param crateId The ID of the crate to update 
         * @param locked The new locked status for the crate (true/false) 
         * @param clientID  (optional)
         * @param callbacks  (optional)
         * @return kotlin.Any
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun cratesUpdateLockedStatusCratesUpdateLocked(crateId: kotlin.String, locked: kotlin.Boolean, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.Any> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            crateId?.apply { localVariableQuery["crate_id"] = listOf("$crateId") }
            locked?.apply { localVariableQuery["locked"] = listOf("$locked") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/crates/update-locked",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
