/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.USBExternalStorageDevicePresentationBean

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class ExternalDevicesApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /external.devices
        * Get All External USB Devices
        * Retrieves all available External USB Devices
         * @return kotlin.collections.List<USBExternalStorageDevicePresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun externalDevicesGetAllExternalDevicesExternalDevices(): HttpResponse<kotlin.collections.List<USBExternalStorageDevicePresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/external.devices",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /external.devices/import
        * Import tunes from an External USB Devices
        * 
         * @param name the deviceName 
         * @param path the device root path 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun externalDevicesImportTunesFromExternalDeviceExternalDevicesImport(name: kotlin.String, path: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            name?.apply { localVariableQuery["name"] = listOf("$name") }
            path?.apply { localVariableQuery["path"] = listOf("$path") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/external.devices/import",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /external.devices/test
        * Testing operation
        * A &#39;Hello World&#39; method to verify that the service is running
         * @return void
        */
        public open suspend fun externalDevicesTestExternalDevicesTest(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/external.devices/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
