/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.Collection
import io.crates.api.models.GemsFeedbackStatsPresentation
import io.crates.api.models.PostedGemInfo
import io.crates.api.models.RenameActionPropertiesPresentationBean

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class GemsApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * POST /gems/downvote
        * pass a gem 
        * user&#39;s reaction on a specific gem
         * @param body  
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun gemsDownvoteGemsDownvote(body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/gems/downvote",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /gems/filter
        * returns the available gems from the blockchain, that have not been sent by this user, and have not been evaluated before, filtered by tags
        * 
         * @param tag filter gems by tag 
         * @return kotlin.collections.List<PostedGemInfo>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun gemsGetAvailableFilterByTagGemsFilter(tag: kotlin.String): HttpResponse<kotlin.collections.List<PostedGemInfo>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            tag?.apply { localVariableQuery["tag"] = listOf("$tag") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/gems/filter",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /gems
        * returns the available gems from the blockchain, that have not been sent by this user, and have not been evaluated before
        * 
         * @return kotlin.collections.List<PostedGemInfo>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun gemsGetAvailableGemsGems(): HttpResponse<kotlin.collections.List<PostedGemInfo>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/gems",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /gems/id/{id}
        * returns all the gem info for a given gemID
        * 
         * @param id the id of the gem 
         * @return PostedGemInfo
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun gemsGetGemByIDGemsIdId(id: kotlin.String): HttpResponse<PostedGemInfo> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/gems/id/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /gems/feedback/stats
        * Returns Gems creator feedback statistics for the current user over a block/time range
        * 
         * @param startBlock Starting block number to scan (inclusive) (optional)
         * @param endBlock Ending block number to scan (inclusive) (optional)
         * @param startTimestamp Start timestamp in milliseconds (optional)
         * @param endTimestamp End timestamp in milliseconds (optional)
         * @param forceNotification Force re-sending the weekly Gems notification (optional, default to false)
         * @return GemsFeedbackStatsPresentation
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun gemsGetGemsFeedbackStatsGemsFeedbackStats(startBlock: kotlin.String?, endBlock: kotlin.String?, startTimestamp: kotlin.String?, endTimestamp: kotlin.String?, forceNotification: kotlin.Boolean?): HttpResponse<GemsFeedbackStatsPresentation> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            startBlock?.apply { localVariableQuery["startBlock"] = listOf("$startBlock") }
            endBlock?.apply { localVariableQuery["endBlock"] = listOf("$endBlock") }
            startTimestamp?.apply { localVariableQuery["startTimestamp"] = listOf("$startTimestamp") }
            endTimestamp?.apply { localVariableQuery["endTimestamp"] = listOf("$endTimestamp") }
            forceNotification?.apply { localVariableQuery["forceNotification"] = listOf("$forceNotification") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/gems/feedback/stats",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /gems/tags
        * returns the available gems from the blockchain, that have not been sent by this user, and have not been evaluated before
        * 
         * @return kotlin.collections.List<Collection>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun gemsGetTagsGemsTags(): HttpResponse<kotlin.collections.List<Collection>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/gems/tags",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /gems/prepare/{tune_id}
        * returns the related params to fields for this tune id available rename attributes for the renaming actions
        * returns the available rename attributes for the renaming actions
         * @param tuneId The id of the tune 
         * @return kotlin.collections.List<RenameActionPropertiesPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun gemsGetTuneInfoForGemGemsPrepareTuneId(tuneId: kotlin.String): HttpResponse<kotlin.collections.List<RenameActionPropertiesPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/gems/prepare/{tune_id}".replace("{" + "tune_id" + "}", "$tuneId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /gems/import/{crate_id}
        * reveal a gem 
        * user&#39;s reaction on a specific gem
         * @param crateId the id of the crate 
         * @param body  
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun gemsImportGemGemsImportCrateId(crateId: kotlin.String, body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/gems/import/{crate_id}".replace("{" + "crate_id" + "}", "$crateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /gems/pass
        * pass a gem 
        * user&#39;s reaction on a specific gem
         * @param body  
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun gemsPassGemsPass(body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/gems/pass",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /gems
        * Post a gem based on this tune to the blockchain
        * Apply an action to a specific tune
         * @param body  
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun gemsPostGemGems(body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/gems",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /gems/reveal
        * reveal a gem 
        * user&#39;s reaction on a specific gem
         * @param body  
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun gemsRevealGemsReveal(body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/gems/reveal",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
