/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.ImagePresentationBean
import io.crates.api.models.ImageToObjectPresentationBean

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class ImagesApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * POST /images/add
        * Add a new Image to an entity
        * Add a new image to an entity.
         * @param objectType the type of the object  
         * @param objectID the ID of the entity 
         * @param source the path or url of the cover 
         * @param replace (true/false) whether to just add to the existing covers (if they exist) or replace (delete then add) (optional)
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun imagesAddImageToObjectImagesAdd(objectType: kotlin.String, objectID: kotlin.Long, source: kotlin.String, replace: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            objectType?.apply { localVariableQuery["objectType"] = listOf("$objectType") }
            objectID?.apply { localVariableQuery["objectID"] = listOf("$objectID") }
            source?.apply { localVariableQuery["source"] = listOf("$source") }
            replace?.apply { localVariableQuery["replace"] = listOf("$replace") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/images/add",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /images/{id}
        * Delete Image by ID
        * 
         * @param id the id of the image 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun imagesDeleteImageByIdImagesId(id: kotlin.Long, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/images/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /images
        * Deletes the images of an entity
        * 
         * @param objectType the type of the object  
         * @param objectID the ID of the entity 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun imagesDeleteImagesOfObjectImages(objectType: kotlin.String, objectID: kotlin.Long, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            objectType?.apply { localVariableQuery["objectType"] = listOf("$objectType") }
            objectID?.apply { localVariableQuery["objectID"] = listOf("$objectID") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/images",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /images/download
        * Download image
        * Returns the raw image data for downloading or displaying.
         * @param objectID the id of the entity 
         * @param objectType the type of the entity 
         * @param sizeType (optional) size type of the image. &#39;thumb&#39; for thumbnail 80x80 (optional)
         * @return void
        */
        public open suspend fun imagesDownloadImageByObjectAndSizeImagesDownload(objectID: kotlin.Long, objectType: kotlin.String, sizeType: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            objectID?.apply { localVariableQuery["objectID"] = listOf("$objectID") }
            objectType?.apply { localVariableQuery["objectType"] = listOf("$objectType") }
            sizeType?.apply { localVariableQuery["sizeType"] = listOf("$sizeType") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/images/download",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /images/download/{id}
        * Download image
        * Returns the raw image data for downloading or displaying.
         * @param id ID of the image to download 
         * @param sizeType (optional) size type of the image. &#39;thumb&#39; for thumbnail 80x80 (optional)
         * @return void
        */
        public open suspend fun imagesDownloadImageImagesDownloadId(id: kotlin.Long, sizeType: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            sizeType?.apply { localVariableQuery["sizeType"] = listOf("$sizeType") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/images/download/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /images
        * Get images by an entity with id for entity type type
        * Retrieve the image associated with an entity based on entity&#39;s id and type.
         * @return kotlin.collections.List<ImagePresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun imagesGetAllImagesImages(): HttpResponse<kotlin.collections.List<ImagePresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/images",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /images/{id}
        * Get Image by ID
        * 
         * @param id the id of the entity 
         * @return ImagePresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun imagesGetImageByIDImagesId(id: kotlin.Long): HttpResponse<ImagePresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/images/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /images/object
        * Returns  Images by an entity with id for entity type type
        * Retrieve the image associated with an entity based on entity&#39;s id and type.
         * @param objectID the id of the entity 
         * @param objectType the type of the entity 
         * @param primary (true/false) whether to just get the primary image or all images (optional)
         * @param sizeTypeStr (optional) size type of the image. &#39;thumb&#39; for thumbnail 80x80 (optional)
         * @param generateIfEmpty (true/false) whether to generate a crate image if none exists (optional)
         * @return kotlin.collections.List<ImageToObjectPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun imagesGetImagesByObjectImagesObject(objectID: kotlin.Long, objectType: kotlin.String, primary: kotlin.String?, sizeTypeStr: kotlin.String?, generateIfEmpty: kotlin.String?): HttpResponse<kotlin.collections.List<ImageToObjectPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            objectID?.apply { localVariableQuery["objectID"] = listOf("$objectID") }
            objectType?.apply { localVariableQuery["objectType"] = listOf("$objectType") }
            primary?.apply { localVariableQuery["primary"] = listOf("$primary") }
            sizeTypeStr?.apply { localVariableQuery["sizeTypeStr"] = listOf("$sizeTypeStr") }
            generateIfEmpty?.apply { localVariableQuery["generateIfEmpty"] = listOf("$generateIfEmpty") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/images/object",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
