/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.AuthorizationConnectionInfo

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class LastfmApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /lastfm/connect
        * Connects to last.fm
        * If it is already connected, it will return back the user information. If not, it will return an empty response, and will launch the last.fm connection process
         * @return AuthorizationConnectionInfo
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun lastfmConnectLastfmConnect(): HttpResponse<AuthorizationConnectionInfo> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/lastfm/connect",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /lastfm/disconnect
        * Disconnects from lastfm
        * 
         * @return AuthorizationConnectionInfo
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun lastfmDisconnectLastfmDisconnect(): HttpResponse<AuthorizationConnectionInfo> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/lastfm/disconnect",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /lastfm/connect.status
        * Checks if user is connected
        * Checks if user is connected with the already stored credentials. Returns the object with the last user&#39;s information
         * @return AuthorizationConnectionInfo
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun lastfmGetConnectStatusLastfmConnectStatus(): HttpResponse<AuthorizationConnectionInfo> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/lastfm/connect.status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /lastfm/reconnect
        * Reconnects to lastfm with the previous credentials
        * 
         * @return AuthorizationConnectionInfo
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun lastfmReconnectLastfmReconnect(): HttpResponse<AuthorizationConnectionInfo> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/lastfm/reconnect",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /lastfm/scrobble
        * Enables or disables scrobbling on Last.fm
        * 
         * @param scrobbleEnabled  (optional)
         * @return kotlin.Any
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun lastfmSetScrobbleEnabledLastfmScrobble(scrobbleEnabled: kotlin.Boolean?): HttpResponse<kotlin.Any> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            scrobbleEnabled?.apply { localVariableQuery["scrobbleEnabled"] = listOf("$scrobbleEnabled") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/lastfm/scrobble",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
