/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.GroomingService

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class LibraryApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * POST /library/delete-duplicates
        * Deletes the selected duplicates from the library
        * 
         * @param groomingService  
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun libraryDeleteSelectedDuplicatesLibraryDeleteDuplicates(groomingService: GroomingService): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = groomingService

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/library/delete-duplicates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /library/detect-duplicates
        * Will run duplicate detection on the library
        * 
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun libraryDetectDuplicatesLibraryDetectDuplicates(): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/library/detect-duplicates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /library/rekordbox/export
        * Generates Rekordbox XML from provided tunes and playlists
        * 
         * @param filePath Path to save the generated Rekordbox XML file 
         * @param tunesParentCrateID Parent Crate ID for tunes. All tunes under this crate will be exported (optional)
         * @param playlistsParentCrateID Parent Crate ID for playlists. All playlists under this crate will be exported (optional)
         * @param audioSourceMode Audio source mode: &#39;DEFAULT&#39; uses each tune&#39;s default location; a conversion profile ID (e.g. &#39;CDJ_AIFF&#39;, &#39;CDJ_FRIENDLY&#39;) finds or converts to a matching file (optional, default to "DEFAULT")
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun libraryGenerateRekordboxXMLLibraryRekordboxExport(filePath: kotlin.String, tunesParentCrateID: kotlin.Long?, playlistsParentCrateID: kotlin.Long?, audioSourceMode: kotlin.String?): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            filePath?.apply { localVariableQuery["filePath"] = listOf("$filePath") }
            tunesParentCrateID?.apply { localVariableQuery["tunesParentCrateID"] = listOf("$tunesParentCrateID") }
            playlistsParentCrateID?.apply { localVariableQuery["playlistsParentCrateID"] = listOf("$playlistsParentCrateID") }
            audioSourceMode?.apply { localVariableQuery["audioSourceMode"] = listOf("$audioSourceMode") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/library/rekordbox/export",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /library/groom/artists
        * grooms specified crates and all underlying tunes
        * 
         * @param startDateTime The starting date time in format yyyy-MM-dd HH:mm to start the grooming. If not provided, it will start now (optional)
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun libraryGroomArtistsLibraryGroomArtists(startDateTime: kotlin.String?): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            startDateTime?.apply { localVariableQuery["startDateTime"] = listOf("$startDateTime") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/library/groom/artists",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /library/groom/labels
        * grooms specified crates and all underlying tunes
        * 
         * @param startDateTime The starting date time in format yyyy-MM-dd HH:mm to start the grooming. If not provided, it will start now (optional)
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun libraryGroomLabelsLibraryGroomLabels(startDateTime: kotlin.String?): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            startDateTime?.apply { localVariableQuery["startDateTime"] = listOf("$startDateTime") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/library/groom/labels",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /library/groom
        * grooms specified crates and all underlying tunes
        * 
         * @param body  
         * @param startDateTime The starting date time in format yyyy-MM-dd HH:mm to start the grooming. If not provided, it will start now (optional)
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun libraryGroomLibraryGroom(body: kotlin.String, startDateTime: kotlin.String?): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()
            startDateTime?.apply { localVariableQuery["startDateTime"] = listOf("$startDateTime") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/library/groom",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /library/bandcamp/import
        * Imports a BandcampItems json into users Bandcamp Collection crate
        * 
         * @param body  
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun libraryImportBandcampLibraryJSONLibraryBandcampImport(body: kotlin.String): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/library/bandcamp/import",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /library/rekordbox/import
        * Imports a Rekordbox XML export into Rekordbox Playlists beside DJ Library
        * 
         * @param xmlFilePath Path to the Rekordbox XML file to import 
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun libraryImportRekordboxXMLLibraryRekordboxImport(xmlFilePath: kotlin.String): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            xmlFilePath?.apply { localVariableQuery["xmlFilePath"] = listOf("$xmlFilePath") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/library/rekordbox/import",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /library/tune-my-music/import
        * Imports a TuneMyMusic CSV file into a specified crate, creating playlists as needed
        * 
         * @param csvFilePath Path to the TuneMyMusic CSV file to import 
         * @param tunesParentCrateID Parent Crate ID for tunes. All tunes under this crate will be exported 
         * @param playlistsParentCrateID Parent Crate ID for playlists. All playlists under this crate will be exported 
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun libraryImportTuneMyMusicCSVLibraryTuneMyMusicImport(csvFilePath: kotlin.String, tunesParentCrateID: kotlin.Long, playlistsParentCrateID: kotlin.Long): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            csvFilePath?.apply { localVariableQuery["csvFilePath"] = listOf("$csvFilePath") }
            tunesParentCrateID?.apply { localVariableQuery["tunesParentCrateID"] = listOf("$tunesParentCrateID") }
            playlistsParentCrateID?.apply { localVariableQuery["playlistsParentCrateID"] = listOf("$playlistsParentCrateID") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/library/tune-my-music/import",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /library/stop.grooming
        * Will stop grooming user&#39;s library 
        * 
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun libraryStopGroomingLibraryStopGrooming(): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/library/stop.grooming",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
