/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis


import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class NewsfeedApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /newsfeed/populate/artist
        * Get newsfeed from the provided artist
        * It gets newsfeed by explicitly providing the artist of interest
         * @param `value` the artist name 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun newsfeedPopulateFromArtistNewsfeedPopulateArtist(`value`: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            `value`?.apply { localVariableQuery["value"] = listOf("$`value`") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/newsfeed/populate/artist",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /newsfeed/populate
        * Get newsfeed from user based on his interests
        * The datefrom query param filters the interests of the user to take into account
         * @param datefrom the dateFrom which to get the user interests to populate newsfeed (optional)
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun newsfeedPopulateFromDateNewsfeedPopulate(datefrom: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            datefrom?.apply { localVariableQuery["datefrom"] = listOf("$datefrom") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/newsfeed/populate",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /newsfeed/populate/label
        * Get newsfeed from the provided label
        * It gets newsfeed by explicitly providing the label of interest
         * @param `value` the label name 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun newsfeedPopulateFromLabelNewsfeedPopulateLabel(`value`: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            `value`?.apply { localVariableQuery["value"] = listOf("$`value`") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/newsfeed/populate/label",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
