/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.PlayQueuePreviousContext
import io.crates.api.models.PlayerStartedPresentationBean
import io.crates.api.models.PlayerTargetDescription

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class PlayLocalApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /play.local/events
        * The list of available events that the player is firing
        * The list of available events that the player is firing.
         * @return kotlin.collections.List<kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun playLocalGetAllServerEventsPlayLocalEvents(): HttpResponse<kotlin.collections.List<kotlin.String>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/audiosource.types
        * Returns all available types of audiosources
        * This can be used when requesting a specific audiosource to play with its idAudio source can be either a file, or a soundcloud resource, etc
         * @return kotlin.collections.List<kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun playLocalGetAudioSourceTypesPlayLocalAudiosourceTypes(): HttpResponse<kotlin.collections.List<kotlin.String>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/audiosource.types",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/player.queue/next
        * Gets the next tune in queue
        * Returns the next tune that would be played without advancing the queue. Respects shuffle and repeat policies. Returns null if no next tune is available.
         * @return void
        */
        public open suspend fun playLocalGetNextTunePlayLocalPlayerQueueNext(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/player.queue/next",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/play.queue/player.status
        * The list of allowed status of the player
        * To be used by the UI to show the available status
         * @return kotlin.collections.List<kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun playLocalGetPlayQueueControlerStatusesPlayLocalPlayQueuePlayerStatus(): HttpResponse<kotlin.collections.List<kotlin.String>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/play.queue/player.status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/play.queue/policies/repeat
        * The list of allowed repeat policies
        * To be used by the UI to show the available repeat policies
         * @return kotlin.collections.List<kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun playLocalGetPlayQueueControllerRepeatPoliciesPlayLocalPlayQueuePoliciesRepeat(): HttpResponse<kotlin.collections.List<kotlin.String>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/play.queue/policies/repeat",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/play.queue/policies/shuffle
        * The list of allowed shuffle policies
        * To be used by the UI to show the available shuffle policies
         * @return kotlin.collections.List<kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun playLocalGetPlayQueueControllerShufflePoliciesPlayLocalPlayQueuePoliciesShuffle(): HttpResponse<kotlin.collections.List<kotlin.String>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/play.queue/policies/shuffle",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/player.queue/info
        * Gets the info from the player queue
        * Gets information regarding the PlayQueue (current tune to play, current active crate, status, play policy etc.This should be invoked by the UI upon its initialiation to respectively put these attributes to the UI player
         * @return PlayQueuePreviousContext
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun playLocalGetPlayerQueueInfoPlayLocalPlayerQueueInfo(): HttpResponse<PlayQueuePreviousContext> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/player.queue/info",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/play.queue/next
        * Plays the next tune from the active crate.
        * Plays the next tune from the already provided playlist
         * @return void
        */
        public open suspend fun playLocalNextPlayLocalPlayQueueNext(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/play.queue/next",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/pause
        * Pause playing
        * Player is paused. if it is already paused, then continues to play the last tune
         * @return void
        */
        public open suspend fun playLocalPausePlayLocalPause(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/pause",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/play.queue/pause
        * Pause the PlayQueue from playing
        * Player is paused. if it is already paused, then do nothing
         * @return void
        */
        public open suspend fun playLocalPausePlayQueuePlayLocalPlayQueuePause(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/play.queue/pause",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/play.queue/crates/{crate_id}/audiosource/{audiosource_id}/type/{type}
        * Play an audiosource from an active crate
        * Play directly an audiosouce based on its id. It also sets the active playlist so that the playqueue can e notified what to play nextIt requires the type of the audiosource type to know what to play. All available types can be found fomr the corresponding &#39;/resources/play.local/audiosource.types&#39; web method
         * @param crateId the id of the active crate/playlist to notify the playqueue 
         * @param audiosourceId the id of the audiosource to play 
         * @param type the type of the audiosource to play 
         * @return PlayerStartedPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun playLocalPlayFromAudioSourcePlayLocalPlayQueueCratesCrateIdAudiosourceAudiosourceIdTypeType(crateId: kotlin.String, audiosourceId: kotlin.String, type: kotlin.String): HttpResponse<PlayerStartedPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/play.queue/crates/{crate_id}/audiosource/{audiosource_id}/type/{type}".replace("{" + "crate_id" + "}", "$crateId").replace("{" + "audiosource_id" + "}", "$audiosourceId").replace("{" + "type" + "}", "$type"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/play.queue/crates/{crate_id}/tunes/{tune_id}
        * Play a tune from an active crate
        * Play a tune based on tune&#39;s id. It also sets the active playlist so that the playqueue can.Optionally, it can receive an orderingID to explicitly tell the player which tune to play, in cases of playlistsbe notified what to play next
         * @param crateId the id of the active crate/playlist to notify the playqueue 
         * @param tuneId the id of the tune to play 
         * @param tuneOrderId the ordering id of the tune to play (optional)
         * @return PlayerStartedPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun playLocalPlayPlayLocalPlayQueueCratesCrateIdTunesTuneId(crateId: kotlin.String, tuneId: kotlin.String, tuneOrderId: kotlin.String?): HttpResponse<PlayerStartedPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            tuneOrderId?.apply { localVariableQuery["tune_order_id"] = listOf("$tuneOrderId") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/play.queue/crates/{crate_id}/tunes/{tune_id}".replace("{" + "crate_id" + "}", "$crateId").replace("{" + "tune_id" + "}", "$tuneId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/play.queue/play
        * Play the PlayQueue from pausing
        * Player is playing. if it is already playing, then do nothing
         * @return void
        */
        public open suspend fun playLocalPlayPlayQueuePlayLocalPlayQueuePlay(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/play.queue/play",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/play.queue/prev
        * Plays the previous tune from the active crate.
        * Plays the previous tune from the already provided playlist
         * @return void
        */
        public open suspend fun playLocalPrevPlayLocalPlayQueuePrev(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/play.queue/prev",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/seek/{value}
        * seek track
        * Sets the track&#39;s position to continue to play from. Value is expected as an integer which corresponds to the secs of the track
         * @param `value` the value (in milisescs) of the track to seek to 
         * @return void
        */
        public open suspend fun playLocalSeekPlayLocalSeekValue(`value`: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/seek/{value}".replace("{" + "value" + "}", "$`value`"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/player.queue/seek/{value}
        * seek track
        * Sets the track&#39;s position to continue to play from. Value is expected as an integer which corresponds to the secs of the track
         * @param `value` the value (in milisescs) of the track to seek to 
         * @return void
        */
        public open suspend fun playLocalSeekPlayQueuePlayLocalPlayerQueueSeekValue(`value`: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/player.queue/seek/{value}".replace("{" + "value" + "}", "$`value`"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/play.queue/policies/repeat/set
        * Sets the new repeat policy
        * To be used by the UI to set the user preferred repeat policy
         * @param `value` the new repeat policy for the PlayQueueControler 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun playLocalSetPlayQueueControllerRepeatPolicyPlayLocalPlayQueuePoliciesRepeatSet(`value`: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            `value`?.apply { localVariableQuery["value"] = listOf("$`value`") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/play.queue/policies/repeat/set",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/play.queue/policies/shuffle/set
        * Sets the new shuffle policy
        * To be used by the UI to set the user preferred shuffle policy
         * @param `value` the new shuffle policy for the PlayQueueController 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun playLocalSetPlayQueueControllerShufflePolicyPlayLocalPlayQueuePoliciesShuffleSet(`value`: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            `value`?.apply { localVariableQuery["value"] = listOf("$`value`") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/play.queue/policies/shuffle/set",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/target.player/{id}
        * Sets the target player. If milisecs is provided, then it will set the target player to start from this position
        * Returns the description of the new target player
         * @param id the id of the target player 
         * @param playedAt the position for the target player to start playing (optional)
         * @return PlayerTargetDescription
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun playLocalSetTargetPlayerPlayLocalTargetPlayerId(id: kotlin.String, playedAt: kotlin.String?): HttpResponse<PlayerTargetDescription> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            playedAt?.apply { localVariableQuery["playedAt"] = listOf("$playedAt") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/target.player/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/volume/{value}
        * Set volume
        * Sets the player&#39;s volume. Volume should be a floaf from 0.0f to 100.f
         * @param `value` the volume of the player 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun playLocalSetVolumePlayLocalVolumeValue(`value`: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/volume/{value}".replace("{" + "value" + "}", "$`value`"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/stop
        * Stop playing. Not to be used
        * Player stops playing. This should never be used
         * @return void
        */
        public open suspend fun playLocalStopPlayLocalStop(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/stop",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/stream/{id}
        * Stream a tune
        * Stream a tune based on tune&#39;s id.
         * @param range header param indicating the range to play 
         * @param id the id of the tune to stream over the network 
         * @return void
        */
        public open suspend fun playLocalStreamAudioPlayLocalStreamId(range: kotlin.String, id: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            range?.apply { localVariableHeaders["Range"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/stream/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/external.tune.ended
        * Informs the BE that the tune that was playing from an external (FE) player ended
        * Returns a default ok message. The next tune to play will be informed via the websocket
         * @return void
        */
        public open suspend fun playLocalTuneEndedPlayLocalExternalTuneEnded(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/external.tune.ended",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /play.local/external.tune.invalid
        * Informs the BE that the tune has an invalid audio source that the FE cannot play
        * For now, it will simply treat this tune as it ended and it will play the next one
         * @return void
        */
        public open suspend fun playLocalTuneHasIvalidSourcePlayLocalExternalTuneInvalid(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/play.local/external.tune.invalid",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
