/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.RatingPresentationBean

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class RatingsApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /ratings
        * Get All ratings
        * Retrieves all ratings stored in the database.
         * @return kotlin.collections.List<RatingPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsGetAllTagsRatings(): HttpResponse<kotlin.collections.List<RatingPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/ratings",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /ratings/artists/{id}
        * Get the artist&#39;s rating
        * Retrieve the rating for the artist with that id.
         * @param id the id of the artist 
         * @return RatingPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsGetRatingByArtistIDRatingsArtistsId(id: kotlin.String): HttpResponse<RatingPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/ratings/artists/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /ratings/crates/{id}
        * Get the crate&#39;s rating
        * Retrieve the rating for the crate with that id.
         * @param id the id of the crate 
         * @return RatingPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsGetRatingByCrateIDRatingsCratesId(id: kotlin.String): HttpResponse<RatingPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/ratings/crates/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /ratings/labels/{id}
        * Get the label&#39;s rating
        * Retrieve the rating for the label  with that id.
         * @param id the id of the label 
         * @return RatingPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsGetRatingByLabelIDRatingsLabelsId(id: kotlin.String): HttpResponse<RatingPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/ratings/labels/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /ratings/releases/{id}
        * Get the release&#39;s rating
        * Retrieve the rating for the release with that id.
         * @param id the id of the release 
         * @return RatingPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsGetRatingByReleaseIDRatingsReleasesId(id: kotlin.String): HttpResponse<RatingPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/ratings/releases/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /ratings/tunes/{id}
        * Get the tune&#39;s rating
        * Retrieve the rating for the tune with that id.
         * @param id the id of the tune 
         * @return RatingPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsGetRatingByTuneIDRatingsTunesId(id: kotlin.String): HttpResponse<RatingPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/ratings/tunes/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /ratings/{id}
        * Get rating by id
        * Retrieve the rating stored in the database by its id.
         * @param id the id of the rating 
         * @return RatingPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsGetTagByIDRatingsId(id: kotlin.String): HttpResponse<RatingPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/ratings/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /ratings/artists/{id}
        * Removes the artist&#39;s rating
        * Removes the rating for the artist with that id.
         * @param id the id of the artist 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return RatingPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsRemoveRatingByArtistIDRatingsArtistsId(id: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<RatingPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/ratings/artists/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /ratings/crates/{id}
        * Removes the crate&#39;s rating
        * Removes the rating for the crate with that id.
         * @param id the id of the crate 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return RatingPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsRemoveRatingByCrateIDRatingsCratesId(id: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<RatingPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/ratings/crates/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /ratings/labels/{id}
        * Removes the label&#39;s rating
        * Removes the rating for the label with that id.
         * @param id the id of the label 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return RatingPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsRemoveRatingByLabelIDRatingsLabelsId(id: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<RatingPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/ratings/labels/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /ratings/releases/{id}
        * Removes the release&#39;s rating
        * Removes the rating for the release with that id.
         * @param id the id of the release 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return RatingPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsRemoveRatingByReleaseIDRatingsReleasesId(id: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<RatingPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/ratings/releases/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /ratings/tunes/{id}
        * Removes the tune&#39;s rating
        * Removes the rating for the tune with that id.
         * @param id the id of the tune 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return RatingPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsRemoveRatingByTuneIDRatingsTunesId(id: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<RatingPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/ratings/tunes/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /ratings/artists/{id}/set
        * Set the artist&#39;s rating
        * Set and retrieve the rating for the artist with that id. The ranking should be between 0 and 100. If less, then the value will be set to 0. If more, then value will be set to 100
         * @param id the id of the artist 
         * @param `value` the value of the rating 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return RatingPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsSetRatingByArtistIDRatingsArtistsIdSet(id: kotlin.String, `value`: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<RatingPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            `value`?.apply { localVariableQuery["value"] = listOf("$`value`") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/ratings/artists/{id}/set".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /ratings/crates/{id}/set
        * Set the crate&#39;s rating
        * Set and retrieve the rating for the crate with that id. The ranking should be between 0 and 100. If less, then the value will be set to 0. If more, then value will be set to 100
         * @param id the id of the crate 
         * @param `value` the value of the rating 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return RatingPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsSetRatingByCrateIDRatingsCratesIdSet(id: kotlin.String, `value`: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<RatingPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            `value`?.apply { localVariableQuery["value"] = listOf("$`value`") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/ratings/crates/{id}/set".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /ratings/labels/{id}/set
        * Set the label&#39;s rating
        * Set and retrieve the rating for the label with that id. The ranking should be between 0 and 100. If less, then the value will be set to 0. If more, then value will be set to 100
         * @param id the id of the label 
         * @param `value` the value of the rating 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return RatingPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsSetRatingByLabelIDRatingsLabelsIdSet(id: kotlin.String, `value`: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<RatingPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            `value`?.apply { localVariableQuery["value"] = listOf("$`value`") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/ratings/labels/{id}/set".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /ratings/releases/{id}/set
        * Set the release&#39;s rating
        * Set and retrieve the rating for the release with that id. The ranking should be between 0 and 100. If less, then the value will be set to 0. If more, then value will be set to 100
         * @param id the id of the release 
         * @param `value` the value of the rating 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return RatingPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsSetRatingByReleaseIDRatingsReleasesIdSet(id: kotlin.String, `value`: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<RatingPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            `value`?.apply { localVariableQuery["value"] = listOf("$`value`") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/ratings/releases/{id}/set".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /ratings/tunes/{id}/set
        * Set the tune&#39;s rating
        * Set and retrieve the rating for the tune with that id. The ranking should be between 0 and 100. If less, then the value will be set to 0. If more, then value will be set to 100
         * @param id the id of the tune 
         * @param `value` the value of the rating 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return RatingPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun ratingsSetRatingByTuneIDRatingsTunesIdSet(id: kotlin.String, `value`: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<RatingPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            `value`?.apply { localVariableQuery["value"] = listOf("$`value`") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/ratings/tunes/{id}/set".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
