/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.CrateBasicPresentationBean
import io.crates.api.models.LuceneSearchResultInAllItems
import io.crates.api.models.LuceneSearchableAttributePresentationBean
import io.crates.api.models.TunePresentationBeanImpl

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class SearchApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /search/entities
        * Gets a list of entities that can be retrieved from lucene
        * Retrieves the available entity names that are indexed on lucene
         * @return kotlin.collections.List<kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun searchGetAvailableEntitiesSearchEntities(): HttpResponse<kotlin.collections.List<kotlin.String>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/search/entities",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /search/{entity_type}/attributes
        * Gets a list of attributes that can be searched from lucene for this entity type
        * 
         * @param entityType the entity type 
         * @param includeHidden  (optional, default to false)
         * @return kotlin.collections.List<LuceneSearchableAttributePresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun searchGetAvailableSearchingAttributesSearchEntityTypeAttributes(entityType: kotlin.String, includeHidden: kotlin.Boolean?): HttpResponse<kotlin.collections.List<LuceneSearchableAttributePresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            includeHidden?.apply { localVariableQuery["includeHidden"] = listOf("$includeHidden") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/search/{entity_type}/attributes".replace("{" + "entity_type" + "}", "$entityType"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /search/operators
        * Get supported query operators for each column type
        * 
         * @return void
        */
        public open suspend fun searchGetOperatorsByTypeSearchOperators(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/search/operators",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /search/tunes/basic
        * Get Tunes by a query on all searchable attributes
        * Retrieves tunes looking into all its searchable attributes
         * @param query the query to search for 
         * @return kotlin.collections.List<TunePresentationBeanImpl>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun searchGetTunesLookinInAllFieldsReturnBasicTuneSearchTunesBasic(query: kotlin.String): HttpResponse<kotlin.collections.List<TunePresentationBeanImpl>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            query?.apply { localVariableQuery["query"] = listOf("$query") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/search/tunes/basic",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /search/online/{query}
        * searches online services for results
        * 
         * @param query The user&#39;s term to search across online services 
         * @param service service (optional)
         * @param resultTypes Optional result types filter. Comma separated values: TUNE, RELEASE, PLAYLIST (optional)
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.collections.List<kotlin.Any>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun searchOnlineSearchSearchOnlineQuery(query: kotlin.String, service: kotlin.String?, resultTypes: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.collections.List<kotlin.Any>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            service?.apply { localVariableQuery["service"] = listOf("$service") }
            resultTypes?.apply { localVariableQuery["resultTypes"] = listOf("$resultTypes") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/search/online/{query}".replace("{" + "query" + "}", "$query"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /search/crates
        * Get Crates by a query on all searchable attributes
        * Retrieves crates looking into all its searchable attributes
         * @param query The query to search for 
         * @param filterNoImport Filter out crates that cannot be imported (SMART/SEARCH crates) (optional, default to false)
         * @return kotlin.collections.List<CrateBasicPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun searchSearchCratesSearchCrates(query: kotlin.String, filterNoImport: kotlin.Boolean?): HttpResponse<kotlin.collections.List<CrateBasicPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            query?.apply { localVariableQuery["query"] = listOf("$query") }
            filterNoImport?.apply { localVariableQuery["filterNoImport"] = listOf("$filterNoImport") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/search/crates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /search
        * Get tunes and crates by a query on all searchable attributes
        * Retrieves tunes and crates looking into all its searchable attributes
         * @param query the query to search for 
         * @param clientID The id of the client who requested the invocation of this service (optional)
         * @return LuceneSearchResultInAllItems
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun searchSearchSearch(query: kotlin.String, clientID: kotlin.String?): HttpResponse<LuceneSearchResultInAllItems> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            query?.apply { localVariableQuery["query"] = listOf("$query") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["clientID"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/search",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /search/tunes
        * Get Tunes by a query
        * Retrieves all tunes tunes that valide this query
         * @param query the query to search for 
         * @return kotlin.collections.List<TunePresentationBeanImpl>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun searchSearchTunesSearchTunes(query: kotlin.String): HttpResponse<kotlin.collections.List<TunePresentationBeanImpl>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            query?.apply { localVariableQuery["query"] = listOf("$query") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/search/tunes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
