/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.QueryVariable
import io.crates.api.models.TunePresentationBeanImpl

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class SmartCratesApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /smart.crates/operators
        * Retrieves all available operators
        * 
         * @return void
        */
        public open suspend fun smartCratesGetOperatorsSmartCratesOperators(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/smart.crates/operators",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /smart.crates/params
        * Get query&#39;s available params
        * Retrieves all available parameters for building the query
         * @return kotlin.collections.List<QueryVariable>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun smartCratesGetParamsSmartCratesParams(): HttpResponse<kotlin.collections.List<QueryVariable>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/smart.crates/params",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /smart.crates/{query}
        * Retrieves Tunes according to a input query
        * Retrieves Tunes according to a input query in CQL form
         * @param query the query in a string format in CQL 
         * @return kotlin.collections.List<TunePresentationBeanImpl>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun smartCratesGetTunesByCQLQuerySmartCratesQuery(query: kotlin.String): HttpResponse<kotlin.collections.List<TunePresentationBeanImpl>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/smart.crates/{query}".replace("{" + "query" + "}", "$query"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /smart.crates
        * Retrieves Tunes according to a input query based on the QueryLogicalConditionPresentationBean 
        * Retrieves Tunes according to a input query based on the QueryLogicalConditionPresentationBean
         * @return kotlin.collections.List<TunePresentationBeanImpl>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun smartCratesGetTunesByQuerySmartCrates(): HttpResponse<kotlin.collections.List<TunePresentationBeanImpl>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/smart.crates",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
