/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.SoundCloudAppTokenPresentationBean
import io.crates.api.models.SoundCloudUserStatusPresentationBean
import io.crates.api.models.TunePresentationBeanImpl

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class SoundcloudOldApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /soundcloud-old/import/playlists
        * Import user&#39;s playlists soundcloud
        * Import playlists from soundcloud.
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.collections.List<TunePresentationBeanImpl>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun soundcloudOldAddPlaylistsFromSoundCloudSoundcloudOldImportPlaylists(clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.collections.List<TunePresentationBeanImpl>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/soundcloud-old/import/playlists",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /soundcloud-old/import/tracks
        * Import user&#39;s favorite tracks from soundcloud
        * Import track from soundcloud. User&#39;s favorites
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.collections.List<TunePresentationBeanImpl>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun soundcloudOldAddTunesFromSoundCloudSoundcloudOldImportTracks(clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.collections.List<TunePresentationBeanImpl>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/soundcloud-old/import/tracks",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /soundcloud-old/connect
        * Connects to a SoundCloud account
        * Checks if user can connected with the already stored credentials. Returns the object with the last user&#39;s imported credentialas, and a status if she can connect or not
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return SoundCloudUserStatusPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun soundcloudOldConnectToSoundCloudSoundcloudOldConnect(clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<SoundCloudUserStatusPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/soundcloud-old/connect",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /soundcloud-old/connect
        * Connects to a SoundCloud account with given credentials
        * Checks if user can connect with the given credentials. Returns the object with the last user&#39;s imported credentialas, and a status if she can connect or not If it is instructed to add tunes/playlists, it does so in a fire and forget pattern
         * @param body  
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return SoundCloudUserStatusPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun soundcloudOldConnectToSoundCloudSoundcloudOldConnect1(body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<SoundCloudUserStatusPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/soundcloud-old/connect",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /soundcloud-old/app.token
        * Gets Application&#39;s key/secret for SoundCloud
        * Gets Application&#39;s key/secret for accessing the SoundCloud API
         * @return SoundCloudAppTokenPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun soundcloudOldGetAppTokenSoundcloudOldAppToken(): HttpResponse<SoundCloudAppTokenPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/soundcloud-old/app.token",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /soundcloud-old/import/new
        * Import All latest tracks from user&#39;s soundcloud feed -- NOT IMPLEMENTED YET
        * Import All latest tracks from user&#39;s soundcloud feed
         * @param date the date up to which the import will take place (optional)
         * @return void
        */
        public open suspend fun soundcloudOldImportNewTracksSoundcloudOldImportNew(date: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            date?.apply { localVariableQuery["date"] = listOf("$date") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/soundcloud-old/import/new",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /soundcloud-old/callback
        * soundcloud-old_parseCallback_soundcloud_old_callback
        * 
         * @return void
        */
        public open suspend fun soundcloudOldParseCallbackSoundcloudOldCallback(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/soundcloud-old/callback",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /soundcloud-old/user.token
        * Add a SoundCloud account
        * adds soundcloud&#39;s username and password and imports user&#39;s liked tunes and playlists, if ordered to do so. Returns a list of the  imported tunes, if any
         * @param username the username 
         * @param password the password 
         * @param importlikes automatic import likes? (default false) (optional)
         * @param importplaylists automatic import playlists? (default false) (optional)
         * @return kotlin.collections.List<TunePresentationBeanImpl>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun soundcloudOldSetSoundCloudCredentialsSoundcloudOldUserToken(username: kotlin.String, password: kotlin.String, importlikes: kotlin.String?, importplaylists: kotlin.String?): HttpResponse<kotlin.collections.List<TunePresentationBeanImpl>> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            username?.apply { localVariableQuery["username"] = listOf("$username") }
            password?.apply { localVariableQuery["password"] = listOf("$password") }
            importlikes?.apply { localVariableQuery["importlikes"] = listOf("$importlikes") }
            importplaylists?.apply { localVariableQuery["importplaylists"] = listOf("$importplaylists") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/soundcloud-old/user.token",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
