/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.AuthorizationConnectionInfo

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class SoundcloudApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * POST /soundcloud/connect
        * Connects to SoundCloud
        * Starts the SoundCloud authorization flow.
         * @param importCollection imports user&#39;s Soundcloud Likes and Playlists (optional)
         * @return AuthorizationConnectionInfo
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun soundcloudConnectSoundcloudConnect(importCollection: kotlin.String?): HttpResponse<AuthorizationConnectionInfo> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            importCollection?.apply { localVariableQuery["importCollection"] = listOf("$importCollection") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/soundcloud/connect",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /soundcloud/disconnect
        * Disconnects from SoundCloud
        * 
         * @return AuthorizationConnectionInfo
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun soundcloudDisconnectSoundcloudDisconnect(): HttpResponse<AuthorizationConnectionInfo> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/soundcloud/disconnect",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /soundcloud/connect.status
        * Checks if user is connected to SoundCloud
        * Checks connection status with current credentials. Returns last user&#39;s info.
         * @return AuthorizationConnectionInfo
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun soundcloudGetConnectStatusSoundcloudConnectStatus(): HttpResponse<AuthorizationConnectionInfo> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/soundcloud/connect.status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /soundcloud/import/library
        * Import user&#39;s SoundCloud library (likes and playlists)
        * Imports liked tracks and playlists from user&#39;s SoundCloud account.
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun soundcloudImportUserLibrarySoundcloudImportLibrary(clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/soundcloud/import/library",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /soundcloud/verification
        * soundcloud_verify_soundcloud_verification
        * 
         * @param code the code 
         * @param state  (optional)
         * @return void
        */
        public open suspend fun soundcloudVerifySoundcloudVerification(code: kotlin.String, state: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            code?.apply { localVariableQuery["code"] = listOf("$code") }
            state?.apply { localVariableQuery["state"] = listOf("$state") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/soundcloud/verification",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
