/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.AuthorizationConnectionInfo

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class SpotifyApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /spotify/connect
        * Connects to spotify
        * If it is already connected, it will return back the user information. If not, it will return an empty response, and will launch the spotify connection process
         * @param importCollection imports or not the spotify collection (optional)
         * @param spotifyEmail the user&#39;s email (optional)
         * @return AuthorizationConnectionInfo
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun spotifyConnectSpotifyConnect(importCollection: kotlin.String?, spotifyEmail: kotlin.String?): HttpResponse<AuthorizationConnectionInfo> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            importCollection?.apply { localVariableQuery["importCollection"] = listOf("$importCollection") }
            spotifyEmail?.apply { localVariableQuery["spotifyEmail"] = listOf("$spotifyEmail") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/spotify/connect",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /spotify/disconnect
        * Disconnects from spotify
        * 
         * @return AuthorizationConnectionInfo
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun spotifyDisconnectSpotifyDisconnect(): HttpResponse<AuthorizationConnectionInfo> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/spotify/disconnect",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /spotify/connect.status
        * Checks if user is connected
        * Checks if user is connected with the already stored credentials. Returns the object with the last user&#39;s information
         * @return AuthorizationConnectionInfo
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun spotifyGetConnectStatusSpotifyConnectStatus(): HttpResponse<AuthorizationConnectionInfo> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/spotify/connect.status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /spotify/import/library
        * import a user&#39;s spotify library
        * Import ths user&#39;s library from spotify. blocking 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun spotifyImportUserLibrarySpotifyImportLibrary(clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/spotify/import/library",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /spotify/reconnect
        * Reconnects to spotify with the previous credentials
        * 
         * @return AuthorizationConnectionInfo
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun spotifyReconnectSpotifyReconnect(): HttpResponse<AuthorizationConnectionInfo> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/spotify/reconnect",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /spotify/verification
        * spotify_verify_spotify_verification
        * 
         * @param code the code 
         * @return void
        */
        public open suspend fun spotifyVerifySpotifyVerification(code: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            code?.apply { localVariableQuery["code"] = listOf("$code") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/spotify/verification",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
