/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.SyncBackendResponse

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class SyncApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /sync/download/{tuneID}
        * Downloads the audio source of a tune
        * Downloads the audio source of a tune based on tune&#39;s id. Use &#39;conversion_profile&#39; to request a specific format, &#39;default&#x3D;true&#39; to get the raw original file, or omit both to let the server apply the user&#39;s configured conversion profile. If the resolved file does not exist, a not found exception is returned.
         * @param tuneID the tuneID of the tune to download its audio source 
         * @param conversionProfile conversion profile ID to apply (e.g. &#39;MAX_MP3_320&#39;). Overrides the user&#39;s configured profile. Mutually exclusive with &#39;default&#39;. (optional)
         * @param default set to true to download the raw default audio source without any conversion (optional)
         * @param deviceProfile optional device playback profile for compatibility-aware source selection (optional)
         * @return void
        */
        public open suspend fun syncDownloadAudioSourceFileSyncDownloadTuneID(tuneID: kotlin.String, conversionProfile: kotlin.String?, default: kotlin.Boolean?, deviceProfile: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            conversionProfile?.apply { localVariableQuery["conversion_profile"] = listOf("$conversionProfile") }
            default?.apply { localVariableQuery["default"] = listOf("$default") }
            deviceProfile?.apply { localVariableQuery["device_profile"] = listOf("$deviceProfile") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/sync/download/{tuneID}".replace("{" + "tuneID" + "}", "$tuneID"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /sync/export.backup
        * Invokes the instance to export the sync data file, taking optional query params for last sync date and image inclusion
        * returns the path where the file resides
         * @param lastSyncDate  (optional)
         * @param includeImageFiles  (optional)
         * @return SyncBackendResponse
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun syncExportSyncDataSyncExportBackup(lastSyncDate: kotlin.String?, includeImageFiles: kotlin.String?): HttpResponse<SyncBackendResponse> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            lastSyncDate?.apply { localVariableQuery["lastSyncDate"] = listOf("$lastSyncDate") }
            includeImageFiles?.apply { localVariableQuery["includeImageFiles"] = listOf("$includeImageFiles") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/sync/export.backup",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /sync/sync
        * Requests from all remote nodes to get info so as to sync
        * 
         * @param node if provided, this node will explicitly request the backup file from the provided node (optional)
         * @return void
        */
        public open suspend fun syncGetSyncInfoFromRemoteNodeSyncSync(node: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            node?.apply { localVariableQuery["node"] = listOf("$node") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/sync/sync",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /sync/test
        * sync_test_sync_test
        * 
         * @return void
        */
        public open suspend fun syncTestSyncTest(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/sync/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
