/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.TagPresentationBean

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class TagsApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * POST /tags/artists/add
        * Adds a list of existing artists to a tag
        * Adds a list of existing artists to a tag, indicated by its name as a query param. Artists are represented by a list of artistIDs. Example: [ {\\\&quot;artistID\\\&quot; : 5}, {\\\&quot;artistID\\\&quot;: 15}] Returns the tag
         * @param body  
         * @param tagname the name of the tag (optional)
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsAddArtistsToTagNameTagsArtistsAdd(body: kotlin.String, tagname: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()
            tagname?.apply { localVariableQuery["tagname"] = listOf("$tagname") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags/artists/add",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tags/artists/add/{tag_id}
        * Adds a list of existing artists to a tag
        * Adds a list of existing artists to a tag, indicated by its id. Artists are represented by a list of artistIDs. Example: [ {\\\&quot;artistID\\\&quot; : 5}, {\\\&quot;artistID\\\&quot;: 15}] Returns the tag
         * @param tagId the id of the tag 
         * @param body  
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsAddArtistsToTagTagsArtistsAddTagId(tagId: kotlin.String, body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags/artists/add/{tag_id}".replace("{" + "tag_id" + "}", "$tagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tags/crates/add
        * Adds a list of existing crates to a tag
        * Adds a list of existing crates to a tag, indicated by its name as a query param. Artists are represented by a list of crateIDS. Example: [ {\\\&quot;crateID\\\&quot; : 5}, {\\\&quot;crateID\\\&quot;: 15}] Returns the tag
         * @param body  
         * @param tagname the name of the tag (optional)
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsAddCratesToTagNameTagsCratesAdd(body: kotlin.String, tagname: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()
            tagname?.apply { localVariableQuery["tagname"] = listOf("$tagname") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags/crates/add",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tags/crates/add/{tag_id}
        * Adds a list of existing crates to a tag
        * Adds a list of existing crates to a tag, indicated by its id. crates are represented by a list of cratesIDS. Example: [ {\\\&quot;crateID\\\&quot; : 5}, {\\\&quot;crateID\\\&quot;: 15}] Returns the tag
         * @param tagId the id of the tag 
         * @param body  
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsAddCratesToTagTagsCratesAddTagId(tagId: kotlin.String, body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags/crates/add/{tag_id}".replace("{" + "tag_id" + "}", "$tagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tags/labels/add
        * Adds a list of existing labels to a tag
        * Adds a list of existing labels to a tag, indicated by its name, as a queryparam Labels are represented by a list of labelIDs. Example: [ {\\\&quot;labelID\\\&quot; : 5}, {\\\&quot;labelID\\\&quot;: 15}] Returns the tag
         * @param body  
         * @param tagname the name of the tag (optional)
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsAddLabelsToTagNameTagsLabelsAdd(body: kotlin.String, tagname: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()
            tagname?.apply { localVariableQuery["tagname"] = listOf("$tagname") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags/labels/add",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tags/labels/add/{tag_id}
        * Adds a list of existing labels to a tag
        * Adds a list of existing labels to a tag, indicated by its id. Labels are represented by a list of labelIDs. Example: [ {\\\&quot;labelID\\\&quot; : 5}, {\\\&quot;labelID\\\&quot;: 15}] Returns the tag
         * @param tagId the id of the tag 
         * @param body  
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsAddLabelsToTagTagsLabelsAddTagId(tagId: kotlin.String, body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags/labels/add/{tag_id}".replace("{" + "tag_id" + "}", "$tagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tags/tunes/add
        * Adds a list of existing tunes to a tag
        * Adds a list of existing tunes to a tag, indicated by its name as a queryParam. Tunes are represented by a list of tuneIDs. Example: [ {\\\&quot;tuneID\\\&quot; : 5}, {\\\&quot;tuneID\\\&quot;: 15}] Returns the list of the crate&#39;s tunes
         * @param body  
         * @param tagname the name of the tag (optional)
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsAddTunesToTagByNameTagsTunesAdd(body: kotlin.String, tagname: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()
            tagname?.apply { localVariableQuery["tagname"] = listOf("$tagname") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags/tunes/add",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tags/tunes/add/{tag_id}
        * Adds a list of existing tunes to a tag
        * Adds a list of existing tunes to a tag, indicated by its id. Tunes are represented by a list of tuneIDs. Example: [ {\\\&quot;tuneID\\\&quot; : 5}, {\\\&quot;tuneID\\\&quot;: 15}] Returns the list of the crate&#39;s tunes
         * @param tagId the id of the tag 
         * @param body  
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsAddTunesToTagTagsTunesAddTagId(tagId: kotlin.String, body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags/tunes/add/{tag_id}".replace("{" + "tag_id" + "}", "$tagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /tags/{id}
        * Deletes a tag
        * 
         * @param id the id of the tag 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun tagsDeleteTagTagsId(id: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/tags/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /tags/entities
        * Get all entities that can be tagged
        * Retrieves all entities that can be tagged so that the FE knows which parameter to pass when requesting/adding tags
         * @return kotlin.collections.List<kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsGetAllAvailableEntitiesTagsEntities(): HttpResponse<kotlin.collections.List<kotlin.String>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tags/entities",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /tags
        * Get All Tags
        * Retrieves all tags stored in the database. If the queryParam &#39;tagname&#39; is also provided, then this would get all tags that their names start with the &#39;tagname&#39;
         * @param tagname the first character of the name of the tag to search for (optional)
         * @param sortingOrderId Sorting order for the artists (optional)
         * @return kotlin.collections.List<TagPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsGetAllTagsTags(tagname: kotlin.String?, sortingOrderId: kotlin.Int?): HttpResponse<kotlin.collections.List<TagPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            tagname?.apply { localVariableQuery["tagname"] = listOf("$tagname") }
            sortingOrderId?.apply { localVariableQuery["sorting_order_id"] = listOf("$sortingOrderId") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tags",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /tags/{id}
        * Get Tag by id
        * Retrieve the tag stored in the database by its id.
         * @param id the id of the tag 
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsGetTagByIDTagsId(id: kotlin.String): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tags/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /tags/artists/{id}
        * Get Tags by a artist id
        * Retrieve the tag associated with an artist based on artist&#39;s id.
         * @param id the id of the artist 
         * @return kotlin.collections.List<TagPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsGetTagsByArtistTagsArtistsId(id: kotlin.String): HttpResponse<kotlin.collections.List<TagPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tags/artists/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /tags/crates/{id}
        * Get Tags by a crate id
        * Retrieve the tag associated with a crate based on crate&#39;s id.
         * @param id the id of the crate 
         * @return kotlin.collections.List<TagPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsGetTagsByCrateTagsCratesId(id: kotlin.String): HttpResponse<kotlin.collections.List<TagPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tags/crates/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /tags/entities/{id}
        * Get Tags by an entity with id for entity type type
        * Retrieve the tag associated with an entity based on entity&#39;s id and type.
         * @param id the id of the entity 
         * @param type the type of the entity 
         * @return kotlin.collections.List<TagPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsGetTagsByEntityTagsEntitiesId(id: kotlin.String, type: kotlin.String): HttpResponse<kotlin.collections.List<TagPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            type?.apply { localVariableQuery["type"] = listOf("$type") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tags/entities/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /tags/labels/{id}
        * Get Tags by a label id
        * Retrieve the tag associated with a label based on label&#39;s id.
         * @param id the id of the label 
         * @return kotlin.collections.List<TagPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsGetTagsByLabelTagsLabelsId(id: kotlin.String): HttpResponse<kotlin.collections.List<TagPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tags/labels/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /tags/tunes/{id}
        * Get Tags by a tune id
        * Retrieve the tag associated with a tune based on tune&#39;s id.
         * @param id the id of the tune 
         * @return kotlin.collections.List<TagPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsGetTagsByTuneTagsTunesId(id: kotlin.String): HttpResponse<kotlin.collections.List<TagPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tags/tunes/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tags
        * Adds a new tag. Example: {\\\&quot;name\\\&quot; :\\\&quot;this is a tag\\\&quot;}
        * Adds a new tag
         * @param body  
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsInsertTagTags(body: kotlin.String): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tags/artists/remove
        * Removes a list of existing artists from a tag
        * Removes a list of existing artists from a tag, indicated by its name as a query param. Artists are represented by a list of artistIDs. Example: [ {\\\&quot;artistID\\\&quot; : 5}, {\\\&quot;artistID\\\&quot;: 15}] Returns the tag
         * @param body  
         * @param tagname the name of the tag (optional)
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsRemoveArtistFromTagNameTagsArtistsRemove(body: kotlin.String, tagname: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()
            tagname?.apply { localVariableQuery["tagname"] = listOf("$tagname") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags/artists/remove",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tags/artists/remove/{tag_id}
        * Removes a list of existing artists from a tag
        * Removes a list of existing artists from a tag, indicated by its id. Artists are represented by a list of artistIDs. Example: [ {\\\&quot;artistID\\\&quot; : 5}, {\\\&quot;artistID\\\&quot;: 15}] Returns the tag
         * @param tagId the id of the tag 
         * @param body  
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsRemoveArtistsFromTagTagsArtistsRemoveTagId(tagId: kotlin.String, body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags/artists/remove/{tag_id}".replace("{" + "tag_id" + "}", "$tagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tags/crates/remove
        * Removes a list of existing crates from a tag
        * Removes a list of existing crates from a tag, indicated by its name as a query param. crates are represented by a list of crateIDs. Example: [ {\\\&quot;crateID\\\&quot; : 5}, {\\\&quot;crateID\\\&quot;: 15}] Returns the tag
         * @param body  
         * @param tagname the name of the tag (optional)
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsRemoveCratesFromTagNameTagsCratesRemove(body: kotlin.String, tagname: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()
            tagname?.apply { localVariableQuery["tagname"] = listOf("$tagname") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags/crates/remove",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tags/crates/remove/{tag_id}
        * Removes a list of existing crates from a tag
        * Removes a list of existing crates from a tag, indicated by its id. crates are represented by a list of crateIDs. Example: [ {\\\&quot;crateID\\\&quot; : 5}, {\\\&quot;crateID\\\&quot;: 15}] Returns the tag
         * @param tagId the id of the tag 
         * @param body  
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsRemoveCratesFromTagTagsCratesRemoveTagId(tagId: kotlin.String, body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags/crates/remove/{tag_id}".replace("{" + "tag_id" + "}", "$tagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tags/labels/remove
        * Removes a list of existing labels from a tag
        * Removes a list of existing labels from a tag, indicated by its name, as a queryparam Labels are represented by a list of labelIDs. Example: [ {\\\&quot;labelID\\\&quot; : 5}, {\\\&quot;labelID\\\&quot;: 15}] Returns the tag
         * @param body  
         * @param tagname the name of the tag (optional)
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsRemoveLabelsFromTagNameTagsLabelsRemove(body: kotlin.String, tagname: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()
            tagname?.apply { localVariableQuery["tagname"] = listOf("$tagname") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags/labels/remove",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tags/labels/remove/{tag_id}
        * Removes a list of existing labels from a tag
        * Removes a list of existing labels from a tag, indicated by its id. Labels are represented by a list of labelIDs. Example: [ {\\\&quot;labelID\\\&quot; : 5}, {\\\&quot;labelID\\\&quot;: 15}] Returns the tag
         * @param tagId the id of the tag 
         * @param body  
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsRemoveLabelsFromTagTagsLabelsRemoveTagId(tagId: kotlin.String, body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags/labels/remove/{tag_id}".replace("{" + "tag_id" + "}", "$tagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tags/tunes/remove
        * Removes a list of existing tunes from a tag
        * Removes a list of existing tunes from a tag, indicated by its name as a queryParam. Tunes are represented by a list of tuneIDs. Example: [ {\\\&quot;tuneID\\\&quot; : 5}, {\\\&quot;tuneID\\\&quot;: 15}] Returns the list of the crate&#39;s tunes
         * @param body  
         * @param tagname the name of the tag (optional)
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsRemoveTunesFromTagByNameTagsTunesRemove(body: kotlin.String, tagname: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()
            tagname?.apply { localVariableQuery["tagname"] = listOf("$tagname") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags/tunes/remove",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tags/tunes/remove/{tag_id}
        * Removes a list of existing tunes from a tag
        * Removes a list of existing tunes from a tag, indicated by its id. Tunes are represented by a list of tuneIDs. Example: [ {\\\&quot;tuneID\\\&quot; : 5}, {\\\&quot;tuneID\\\&quot;: 15}] Returns the list of the crate&#39;s tunes
         * @param tagId the id of the tag 
         * @param body  
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsRemoveTunesFromTagTagsTunesRemoveTagId(tagId: kotlin.String, body: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tags/tunes/remove/{tag_id}".replace("{" + "tag_id" + "}", "$tagId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /tags
        * Updates a tag. Example: {\\\&quot;name\\\&quot; :\\\&quot;this is a tag\\\&quot;}
        * Updates a tag
         * @param body  
         * @return TagPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tagsUpdateTagTags(body: kotlin.String): HttpResponse<TagPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/tags",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
