/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.TuneCollectionViewPresentationBean

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class TuneCollectionViewsApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * POST /tune.collection.views/set/{collection_view_id}
        * Sets the collection view id of a a list of existing crates
        * Adds a list of existing crates to a collection view, indicated by its id. crates are represented by a list of cratesIDs.Returns the collection view
         * @param collectionViewId the id of the collection view 
         * @param body  
         * @param device  (optional)
         * @return TuneCollectionViewPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tuneCollectionViewsAddCratesToCollectionViewTuneCollectionViewsSetCollectionViewId(collectionViewId: kotlin.String, body: kotlin.String, device: kotlin.String?): HttpResponse<TuneCollectionViewPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()
            device?.apply { localVariableQuery["device"] = listOf("$device") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tune.collection.views/set/{collection_view_id}".replace("{" + "collection_view_id" + "}", "$collectionViewId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /tune.collection.views/{id}
        * Deletes a collection view
        * Deletes a collection view by its id
         * @param id the id of the collection view 
         * @return void
        */
        public open suspend fun tuneCollectionViewsDeleteCollectionViewTuneCollectionViewsId(id: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/tune.collection.views/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tune.collection.views/crates/{crate_id}/edit
        * Adds a new collection view to a crate
        * Adds a new collection view (after editing) to an existing crate, indicated by its crateid. Returns the collection view
         * @param crateId the id of crate 
         * @param body  
         * @param device  (optional)
         * @return TuneCollectionViewPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tuneCollectionViewsEditCollectionViewOfCrateTuneCollectionViewsCratesCrateIdEdit(crateId: kotlin.String, body: kotlin.String, device: kotlin.String?): HttpResponse<TuneCollectionViewPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()
            device?.apply { localVariableQuery["device"] = listOf("$device") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tune.collection.views/crates/{crate_id}/edit".replace("{" + "crate_id" + "}", "$crateId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /tune.collection.views/types
        * Get Collection View types
        * Retrieves all available types of a collection view.
         * @return kotlin.collections.List<kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tuneCollectionViewsGetCollectionViewTypesTuneCollectionViewsTypes(): HttpResponse<kotlin.collections.List<kotlin.String>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tune.collection.views/types",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /tune.collection.views/collection.view/{id}
        * Get TunesCollectionView with All Tunes
        * Retrieves a tune collection view by its id filled with all tunes data.
         * @param id the id of the model view 
         * @return kotlin.collections.List<kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tuneCollectionViewsGetCollectionViewsByCollectionViewIDTuneCollectionViewsCollectionViewId(id: kotlin.String): HttpResponse<kotlin.collections.List<kotlin.String>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tune.collection.views/collection.view/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /tune.collection.views/{id}
        * Get Tune Collection View by id
        * Retrieves a tune collection view by its id.
         * @param id the id of the model view 
         * @return kotlin.collections.List<kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tuneCollectionViewsGetCollectionViewsByIDTuneCollectionViewsId(id: kotlin.String): HttpResponse<kotlin.collections.List<kotlin.String>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tune.collection.views/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /tune.collection.views/query
        * Get Tune Collection Views by name
        * Retrieves all tune collection views by their names.
         * @param name the name of the collection view 
         * @return kotlin.collections.List<kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tuneCollectionViewsGetCollectionViewsByNameTuneCollectionViewsQuery(name: kotlin.String): HttpResponse<kotlin.collections.List<kotlin.String>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            name?.apply { localVariableQuery["name"] = listOf("$name") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tune.collection.views/query",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /tune.collection.views
        * Get Tune Collection Views
        * Retrieves all tune collection views.
         * @param saved  (optional)
         * @return kotlin.collections.List<TuneCollectionViewPresentationBean>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tuneCollectionViewsGetCollectionViewsTuneCollectionViews(saved: kotlin.Boolean?): HttpResponse<kotlin.collections.List<TuneCollectionViewPresentationBean>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            saved?.apply { localVariableQuery["saved"] = listOf("$saved") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tune.collection.views",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /tune.collection.views/tune.attributes
        * Get Tune&#39;s attributes
        * Retrieves all available attributes from a tune presentation bean.
         * @return kotlin.collections.List<kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tuneCollectionViewsGetTuneAttributesTuneCollectionViewsTuneAttributes(): HttpResponse<kotlin.collections.List<kotlin.String>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tune.collection.views/tune.attributes",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tune.collection.views
        * Adds a new collection view. For a valid example check the getAll (/tune.collection.views) web method
        * Adds a new collection view
         * @param body  
         * @return TuneCollectionViewPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tuneCollectionViewsInsertCollectionViewTuneCollectionViews(body: kotlin.String): HttpResponse<TuneCollectionViewPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tune.collection.views",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /tune.collection.views/remove
        * Removes a list of existing crates from their collection view
        * Removes a list of existing crates from their collection viewcrates are represented by a list of crateIDs. Example: [ {\\\&quot;crateID\\\&quot; : 5}, {\\\&quot;crateID\\\&quot;: 15}] 
         * @param body  
         * @param device  (optional)
         * @return void
        */
        public open suspend fun tuneCollectionViewsRemoveCratesFromCollectionViewTuneCollectionViewsRemove(body: kotlin.String, device: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()
            device?.apply { localVariableQuery["device"] = listOf("$device") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/tune.collection.views/remove",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /tune.collection.views/reset
        * Resets all Collection Views to default state
        * Removes all customizations and restores collection views to default settings.
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tuneCollectionViewsResetCollectionViewsToDefaultsTuneCollectionViewsReset(): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tune.collection.views/reset",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /tune.collection.views
        * Updates an existing collection view. For a valid example check the getID (/tune.collection.views/{id}) web method
        * Updates a new collection view
         * @param body  
         * @return TuneCollectionViewPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tuneCollectionViewsUpdateCollectionViewTuneCollectionViews(body: kotlin.String): HttpResponse<TuneCollectionViewPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/tune.collection.views",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
