/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.TuneTimestampedCommentPresentationBean

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class TunesTimestampedCommentsApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * POST /tunes/timestamped-comments
        * Create timestamped comment
        * Creates a timestamped comment for a tune
         * @param body  
         * @return TuneTimestampedCommentPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun tunesTimestampedCommentsCreateTimestampedCommentTunesTimestampedComments(body: kotlin.String): HttpResponse<TuneTimestampedCommentPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/tunes/timestamped-comments",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /tunes/timestamped-comments/{id}
        * Delete timestamped comment
        * Deletes a timestamped comment by id
         * @param id timestamped comment id 
         * @return void
        */
        public open suspend fun tunesTimestampedCommentsDeleteTimestampedCommentTunesTimestampedCommentsId(id: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/tunes/timestamped-comments/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /tunes/timestamped-comments/by-tune/{tune_id}
        * Get timestamped comments by tune id
        * Returns all timestamped comments for a tune
         * @param tuneId tune id 
         * @param crateId optional crate id for curated/shareable fallback (optional)
         * @return void
        */
        public open suspend fun tunesTimestampedCommentsGetTimestampedCommentsByTuneIDTunesTimestampedCommentsByTuneTuneId(tuneId: kotlin.String, crateId: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            crateId?.apply { localVariableQuery["crate_id"] = listOf("$crateId") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/tunes/timestamped-comments/by-tune/{tune_id}".replace("{" + "tune_id" + "}", "$tuneId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /tunes/timestamped-comments/{id}
        * Update timestamped comment
        * Updates a timestamped comment by id
         * @param id timestamped comment id 
         * @param body  
         * @return void
        */
        public open suspend fun tunesTimestampedCommentsUpdateTimestampedCommentTunesTimestampedCommentsId(id: kotlin.String, body: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/tunes/timestamped-comments/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
