/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.ConfigurationSettings
import io.crates.api.models.CratesRootFolders
import io.crates.api.models.TuneCollectionViewPresentationBean
import io.crates.api.models.UpdateTunePreferences
import io.crates.api.models.UserConversionStatus

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class UserConfigurationApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * PUT /user.configuration/itunes.library
        * Adds the path of the itunes library
        * 
         * @param path the absolute path of the watcher folder 
         * @return void
        */
        public open suspend fun userConfigurationAddItunesPathUserConfigurationItunesLibrary(path: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            path?.apply { localVariableQuery["path"] = listOf("$path") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/user.configuration/itunes.library",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/watchfolder/add/crates/{id}
        * Make this crate a watched crate
        * adds a new watched folder to list, according to the folder path of the crate, transforms this crate into a watched one, and returns the updated crate before the scan is completed. If crate is not a folder crate, then it returns with error
         * @param id the id of the crate to become a watched crate 
         * @return void
        */
        public open suspend fun userConfigurationAddNewWatcherFolderForCrateUserConfigurationWatchfolderAddCratesId(id: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/watchfolder/add/crates/{id}".replace("{" + "id" + "}", "$id"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /user.configuration/add
        * Add new watcher folder
        * adds a new watched folder to list
         * @param path the absolute path of the watcher folder 
         * @return void
        */
        public open suspend fun userConfigurationAddNewWatcherFolderUserConfigurationAdd(path: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            path?.apply { localVariableQuery["path"] = listOf("$path") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/user.configuration/add",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user.configuration/watchfolder/add
        * Add new watcher folder
        * adds a new watched folder to list and returns the new created crate before the scan is completed
         * @param path the absolute path of the watcher folder 
         * @return void
        */
        public open suspend fun userConfigurationAddNewWatcherFolderUserConfigurationWatchfolderAdd(path: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            path?.apply { localVariableQuery["path"] = listOf("$path") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user.configuration/watchfolder/add",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/refresh.policy
        * Changes the refresh policy according to the input
        * sets refresh policy for all watched folders according to the user input
         * @param refreshPolicy the refresh policy 
         * @param secs the number of secs for periodic scan (optional)
         * @return void
        */
        public open suspend fun userConfigurationChangeRefreshPolicyUserConfigurationRefreshPolicy(refreshPolicy: kotlin.String, secs: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            refreshPolicy?.apply { localVariableQuery["refreshPolicy"] = listOf("$refreshPolicy") }
            secs?.apply { localVariableQuery["secs"] = listOf("$secs") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/refresh.policy",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * DELETE /user.configuration
        * Clear watcher folders
        * clears all watcher folders
         * @return void
        */
        public open suspend fun userConfigurationClearAllFoldersUserConfiguration(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.DELETE,
            "/user.configuration",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user.configuration/backup/cloud/backup-now
        * Trigger an immediate cloud backup
        * 
         * @return void
        */
        public open suspend fun userConfigurationCloudBackupNowUserConfigurationBackupCloudBackupNow(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user.configuration/backup/cloud/backup-now",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /user.configuration/tune.naming.pattern
        * Edit the pattern for the rename action
        * 
         * @param pattern the pattern 
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationEditPatternForRenameActionUserConfigurationTuneNamingPattern(pattern: kotlin.String): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            pattern?.apply { localVariableQuery["pattern"] = listOf("$pattern") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/user.configuration/tune.naming.pattern",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /user.configuration/release.naming.pattern
        * Edit the pattern for the rename action
        * 
         * @param pattern the pattern 
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationEditReleaseNamingPatternUserConfigurationReleaseNamingPattern(pattern: kotlin.String): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            pattern?.apply { localVariableQuery["pattern"] = listOf("$pattern") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/user.configuration/release.naming.pattern",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/library.export.time.units
        * returns the available time units
        * 
         * @param authorization  (optional)
         * @return kotlin.collections.List<kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationExportLibraryConfigurationTimeUnitsUserConfigurationLibraryExportTimeUnits(authorization: kotlin.String?): HttpResponse<kotlin.collections.List<kotlin.String>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/library.export.time.units",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/library.export
        * Adds configuration regarding exporting library
        * path to export, and whether or not to schedule export periodically
         * @param path the absolute path of the export the file 
         * @param timeunit time unit to periodicall export the file (optional)
         * @param timevalue time period to periodicall export the file (optional)
         * @param authorization  (optional)
         * @return void
        */
        public open suspend fun userConfigurationExportLibraryConfigurationUserConfigurationLibraryExport(path: kotlin.String, timeunit: kotlin.String?, timevalue: kotlin.String?, authorization: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            path?.apply { localVariableQuery["path"] = listOf("$path") }
            timeunit?.apply { localVariableQuery["timeunit"] = listOf("$timeunit") }
            timevalue?.apply { localVariableQuery["timevalue"] = listOf("$timevalue") }

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/library.export",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/root.folders
        * Gets the application&#39;s root folders
        * gets the application&#39;s root folders to move tunes
         * @return CratesRootFolders
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationGetAllRootFoldersUserConfigurationRootFolders(): HttpResponse<CratesRootFolders> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/root.folders",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/codecs
        * Get Available Codecs
        * Retrieves all supported codecs.
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationGetAvailableCodecsUserConfigurationCodecs(): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/codecs",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/backup/folders
        * Get backup folders
        * Returns local and online backup folder locations.
         * @return void
        */
        public open suspend fun userConfigurationGetBackupFoldersUserConfigurationBackupFolders(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/backup/folders",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/bandcamp/buy-modal/played-threshold
        * Get Bandcamp buy-modal played threshold
        * Returns the hidden play-count threshold from cratesapp.properties used for the Bandcamp support modal.
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationGetBandcampBuyModalPlayedThresholdUserConfigurationBandcampBuyModalPlayedThreshold(): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/bandcamp/buy-modal/played-threshold",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/cloud-storage/providers
        * Get all cloud storage providers with availability
        * 
         * @return void
        */
        public open suspend fun userConfigurationGetCloudStorageProvidersUserConfigurationCloudStorageProviders(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/cloud-storage/providers",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/conversion.status
        * Get conversion status
        * Returns the current conversion-status snapshot for the active user.
         * @return UserConversionStatus
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationGetConversionStatusUserConfigurationConversionStatus(): HttpResponse<UserConversionStatus> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/conversion.status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/default.collection.view
        * Gets the application&#39;s default collection view
        * 
         * @param type the absolute path of the watcher folder (optional)
         * @return TuneCollectionViewPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationGetDefaultCollectionViewUserConfigurationDefaultCollectionView(type: kotlin.String?): HttpResponse<TuneCollectionViewPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            type?.apply { localVariableQuery["type"] = listOf("$type") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/default.collection.view",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/tune.naming.pattern
        * get the pattern of the rename action
        * 
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationGetPatternForRenameActionUserConfigurationTuneNamingPattern(): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/tune.naming.pattern",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/server-discovery/qr-code
        * Generate QR Code for Server Discovery
        * Returns the QR code with server details.
         * @return void
        */
        public open suspend fun userConfigurationGetQRCodeImageForServerDiscoveryUserConfigurationServerDiscoveryQrCode(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/server-discovery/qr-code",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/release.naming.pattern
        * get the pattern of the rename action
        * 
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationGetReleaseNamingPatternUserConfigurationReleaseNamingPattern(): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/release.naming.pattern",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration
        * Get user Configuration
        * Retrieves the user configuration file.
         * @param authorization  (optional)
         * @return ConfigurationSettings
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationGetUserConfigurationUserConfiguration(authorization: kotlin.String?): HttpResponse<ConfigurationSettings> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/user.info
        * returns the user info object
        * 
         * @param authorization  (optional)
         * @return void
        */
        public open suspend fun userConfigurationGetUserInfoUserConfigurationUserInfo(authorization: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/user.info",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user.configuration/user.info/logout
        * user.configuration_logoutUser_user_configuration_user_info_logout
        * 
         * @param authorization  (optional)
         * @return void
        */
        public open suspend fun userConfigurationLogoutUserUserConfigurationUserInfoLogout(authorization: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user.configuration/user.info/logout",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/override.crates.date.created.with.itune.date.added
        * Indicates whether or not to automatically override crates datecreated with itunes date added one
        * 
         * @param allow set true if you want the override crates datecreated with itunes date added one 
         * @param authorization  (optional)
         * @return void
        */
        public open suspend fun userConfigurationOverrideCratesDateAddedWithItunesDateAddedUserConfigurationOverrideCratesDateCreatedWithItuneDateAdded(allow: kotlin.String, authorization: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            allow?.apply { localVariableQuery["allow"] = listOf("$allow") }

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/override.crates.date.created.with.itune.date.added",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user.configuration/conversion.events
        * Record conversion event
        * Persists the current conversion prompt interaction and returns the updated status.
         * @param body  
         * @return UserConversionStatus
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationRecordConversionEventUserConfigurationConversionEvents(body: kotlin.String): HttpResponse<UserConversionStatus> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user.configuration/conversion.events",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /user.configuration/watchfolder/remove
        * Remove a watched folder
        * removes a watched folder
         * @param path the absolute path of the watcher folder to be removed 
         * @param authorization  (optional)
         * @return void
        */
        public open suspend fun userConfigurationRemoveFolderUserConfigurationWatchfolderRemove(path: kotlin.String, authorization: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            path?.apply { localVariableQuery["path"] = listOf("$path") }

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/user.configuration/watchfolder/remove",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/default.collection.view.reset
        * Resets the application&#39;s default collection view
        * 
         * @param authorization  (optional)
         * @return TuneCollectionViewPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationResetDefaultCollectionViewUserConfigurationDefaultCollectionViewReset(authorization: kotlin.String?): HttpResponse<TuneCollectionViewPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/default.collection.view.reset",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/import.non.music.youtube.videos
        * Indicates whether or not to automatically import non music videos from youtube
        * 
         * @param allow set true if you want the autoimport videos from youtube that are not music related 
         * @param authorization  (optional)
         * @return void
        */
        public open suspend fun userConfigurationSetAllowNonMusicYoutubeVideosToBeImportedByDefaultUserConfigurationImportNonMusicYoutubeVideos(allow: kotlin.String, authorization: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            allow?.apply { localVariableQuery["allow"] = listOf("$allow") }

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/import.non.music.youtube.videos",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/server.discoverability
        * Enables/Disables the discovery of the application in the local network
        * By settings this attribute to true, it will allow the application to be discoverable by a mobile version
         * @param enable set true if you want the app to register itself in the local network 
         * @param authorization  (optional)
         * @return void
        */
        public open suspend fun userConfigurationSetAllowServerDiscoverabilityUserConfigurationServerDiscoverability(enable: kotlin.String, authorization: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            enable?.apply { localVariableQuery["enable"] = listOf("$enable") }

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/server.discoverability",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PUT /user.configuration/auto.find.audiosource
        * Edit the pattern for the rename action
        * 
         * @param enable enable 
         * @param priorityList priorityList 
         * @param authorization  (optional)
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationSetAutoFindAudioSourceUserConfigurationAutoFindAudiosource(enable: kotlin.String, priorityList: kotlin.String, authorization: kotlin.String?): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            enable?.apply { localVariableQuery["enable"] = listOf("$enable") }
            priorityList?.apply { localVariableQuery["priorityList"] = listOf("$priorityList") }

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PUT,
            "/user.configuration/auto.find.audiosource",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/dj.profile
        * Enables/Disables the DJ Profile
        * 
         * @param enable set true to enable 
         * @param authorization  (optional)
         * @return void
        */
        public open suspend fun userConfigurationSetDJProfileUserConfigurationDjProfile(enable: kotlin.String, authorization: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            enable?.apply { localVariableQuery["enable"] = listOf("$enable") }

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/dj.profile",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/persists.id3tag
        * Sets the forceUpdatesToID3Tag value
        * sets whether or not the backend should write the tune values to its id3 tags upon update. It gets a true/false parameter, if missing or not true/false, will return the corresponding error
         * @param force whether or not it should write changes to id3tags. expects true/false 
         * @param authorization  (optional)
         * @return UpdateTunePreferences
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationSetForceUpdatesToID3TagUserConfigurationPersistsId3tag(force: kotlin.String, authorization: kotlin.String?): HttpResponse<UpdateTunePreferences> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            force?.apply { localVariableQuery["force"] = listOf("$force") }

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/persists.id3tag",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/setGDriveConvertAudioFilesBeforeUploading
        * Edit the setting setGDriveConvertAudioFilesBeforeUploading
        * 
         * @param enable when uploading to google drive, if this setting is on, it will convert the file first according to the default conversion profile 
         * @param authorization  (optional)
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationSetGDriveConvertAudioFilesBeforeUploadingUserConfigurationSetGDriveConvertAudioFilesBeforeUploading(enable: kotlin.String, authorization: kotlin.String?): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            enable?.apply { localVariableQuery["enable"] = listOf("$enable") }

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/setGDriveConvertAudioFilesBeforeUploading",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/setImportBandcampTagsEnabled
        * Edit the setting setImportBandcampTagsEnabled
        * 
         * @param enable When importing a tune or release from bandcamp, if this is true, it will get keywords from bandcamp and add as tags on Tune 
         * @param authorization  (optional)
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationSetImportBandcampTagsEnabledUserConfigurationSetImportBandcampTagsEnabled(enable: kotlin.String, authorization: kotlin.String?): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            enable?.apply { localVariableQuery["enable"] = listOf("$enable") }

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/setImportBandcampTagsEnabled",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/default.import.discogs.collection
        * Enables/Disables to import discogs collection by default, when connected
        * 
         * @param enable set true if you want the app to import discogs collection by default when firstly connects 
         * @return void
        */
        public open suspend fun userConfigurationSetImportDiscogsCollectionByDefaultUserConfigurationDefaultImportDiscogsCollection(enable: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            enable?.apply { localVariableQuery["enable"] = listOf("$enable") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/default.import.discogs.collection",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/default.import.discogs.wantlist
        * Enables/Disables to import discogs wantlist by default, when connected
        * 
         * @param enable set true if you want the app to import discogs collection by default when firstly connects 
         * @return void
        */
        public open suspend fun userConfigurationSetImportDiscogsWantlistOnConnectUserConfigurationDefaultImportDiscogsWantlist(enable: kotlin.String): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            enable?.apply { localVariableQuery["enable"] = listOf("$enable") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/default.import.discogs.wantlist",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/MobileDownloadAutoConversionProfile
        * Edit the setting MobileDownloadAutoConversionProfile
        * 
         * @param conversionProfileId When returning a stream to mobile clients, automatically select or convert to the required format according to this conversion Profile 
         * @param authorization  (optional)
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationSetMobileDownloadAutoConversionProfileUserConfigurationMobileDownloadAutoConversionProfile(conversionProfileId: kotlin.String, authorization: kotlin.String?): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            conversionProfileId?.apply { localVariableQuery["conversionProfileId"] = listOf("$conversionProfileId") }

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/MobileDownloadAutoConversionProfile",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user.configuration/root.folders
        * Sets one or many of  the application&#39;s root folders
        * sets one or many of the application&#39;s root folders. It will also change the corresponding crates folder path
         * @param body  
         * @param authorization  (optional)
         * @return CratesRootFolders
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationSetRootFoldersUserConfigurationRootFolders(body: kotlin.String, authorization: kotlin.String?): HttpResponse<CratesRootFolders> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user.configuration/root.folders",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /user.configuration/enable.matcher
        * Indicates whether to turn on or off the tune&#39;s matcher
        * 
         * @param enable set true if you want the app to turn on the tune&#39;s matcher 
         * @param authorization  (optional)
         * @return void
        */
        public open suspend fun userConfigurationSetTuneMatcherEnableUserConfigurationEnableMatcher(enable: kotlin.String, authorization: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            enable?.apply { localVariableQuery["enable"] = listOf("$enable") }

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/user.configuration/enable.matcher",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user.configuration
        * Add a new User Configuration file
        * adds a new user configuration file. The input parameter is a ConfigurationSettings json
         * @param body  
         * @param authorization  (optional)
         * @return ConfigurationSettings
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationSetUserConfigurationUserConfiguration(body: kotlin.String, authorization: kotlin.String?): HttpResponse<ConfigurationSettings> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user.configuration",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * POST /user.configuration/user.info
        * Updates backend with the current User info
        * This method is used to update the backend with the current User Info
         * @param body  
         * @param authorization  (optional)
         * @return void
        */
        public open suspend fun userConfigurationSetUserInfoUserConfigurationUserInfo(body: kotlin.String, authorization: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = body

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.POST,
            "/user.configuration/user.info",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return jsonRequest(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * PATCH /user.configuration
        * Partially update User Configuration
        * Updates only the properties defined in the input JSON for the user configuration
         * @param authorization  (optional)
         * @return ConfigurationSettings
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun userConfigurationUpdateUserConfigurationUserConfiguration(authorization: kotlin.String?): HttpResponse<ConfigurationSettings> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            authorization?.apply { localVariableHeaders["Authorization"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.PATCH,
            "/user.configuration",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
