/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.WaveformPresentationBean

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class WaveformApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /waveform/types
        * Returns all supported waveform types
        * Returns all supported waveform types, either a url to an icon, or an array of points (doubles)
         * @return kotlin.collections.List<kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun waveformGetAvailableWaveformTypesWaveformTypes(): HttpResponse<kotlin.collections.List<kotlin.String>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/waveform/types",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /waveform/audiosources
        * Returns all supported types of audiosources
        * 
         * @return kotlin.collections.List<kotlin.String>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun waveformGetSupportedAudiosourceTypesWaveformAudiosources(): HttpResponse<kotlin.collections.List<kotlin.String>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/waveform/audiosources",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /waveform/audiosource/{audiosource_id}
        * get the waveform of the audiosource
        * Retrieves the waveform for that audiosource. If waveform is not found, then it analyzes the audiosource, store the waveform and returns. If waveform does not exist, it returns a 404 not found message
         * @param audiosourceId  
         * @param tuneId id of the audiosource (optional)
         * @param type the precision of the point&#39;s value of the waveform. For 100 digits it expects the value: 100 (default is 6 digits) (optional)
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return WaveformPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun waveformGetWaveformFromAudioSourceWaveformAudiosourceAudiosourceId(audiosourceId: kotlin.String, tuneId: kotlin.String?, type: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<WaveformPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            tuneId?.apply { localVariableQuery["tune_id"] = listOf("$tuneId") }
            type?.apply { localVariableQuery["type"] = listOf("$type") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/waveform/audiosource/{audiosource_id}".replace("{" + "audiosource_id" + "}", "$audiosourceId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /waveform/tunes/{tune_id}
        * get the waveform of the tune
        * Retrieves the waveform for tune. If waveform is not found, then it analyzes the audiosource, store the waveform and returns. If waveform does not exist, it returns a 404 not found message
         * @param tuneId id of the tune 
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return WaveformPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun waveformGetWaveformFromTuneWaveformTunesTuneId(tuneId: kotlin.String, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<WaveformPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/waveform/tunes/{tune_id}".replace("{" + "tune_id" + "}", "$tuneId"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /waveform/test/width/{width}
        * get the waveform for that path
        * Retrieves the waveform for that path, with the specific height and width
         * @param width the max width of the waveform (default is 500px) 
         * @param path path of a wav file 
         * @param precision the precision of the point&#39;s value of the waveform. For 100 digits it expects the value: 100 (default is 6 digits) (optional)
         * @return WaveformPresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun waveformTestProducedWaveformWaveformTestWidthWidth(width: kotlin.String, path: kotlin.String, precision: kotlin.String?): HttpResponse<WaveformPresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            path?.apply { localVariableQuery["path"] = listOf("$path") }
            precision?.apply { localVariableQuery["precision"] = listOf("$precision") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/waveform/test/width/{width}".replace("{" + "width" + "}", "$width"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
