/**
 *
 * Please note:
 * This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * Do not edit this file manually.
 *
 */

@file:Suppress(
    "ArrayInDataClass",
    "DuplicatedCode",
    "EnumEntryName",
    "RemoveRedundantQualifierName",
    "RemoveRedundantCallsOfConversionMethods",
    "REDUNDANT_CALL_OF_CONVERSION_METHOD",
    "RedundantUnitReturnType",
    "RemoveEmptyClassBody",
    "UnnecessaryVariable",
    "UnusedImport",
    "UnnecessaryVariable",
    "unused"
)

package io.crates.api.apis

import io.crates.api.models.TunePresentationBeanImpl
import io.crates.api.models.YoutubePresentationBean

import io.crates.api.infrastructure.*
import io.ktor.client.HttpClientConfig
import io.ktor.client.request.forms.formData
import io.ktor.client.engine.HttpClientEngine
import io.ktor.http.ParametersBuilder

    public open class YoutubeApi(
    baseUrl: String = ApiClient.BASE_URL,
    httpClientEngine: HttpClientEngine? = null,
    httpClientConfig: ((HttpClientConfig<*>) -> Unit)? = null,
    ) : ApiClient(
        baseUrl,
        httpClientEngine,
        httpClientConfig,
    ) {

        /**
        * GET /youtube/connect
        * register a user to the youtube API
        * It will re-launch the youtube connection process
         * @param importCollection imports or not the youtube collection (optional)
         * @param allowManageAccount  (optional)
         * @param importMusicCategoryOnly  (optional)
         * @return YoutubePresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun youtubeConnectToYoutubeYoutubeConnect(importCollection: kotlin.String?, allowManageAccount: kotlin.String?, importMusicCategoryOnly: kotlin.String?): HttpResponse<YoutubePresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            importCollection?.apply { localVariableQuery["importCollection"] = listOf("$importCollection") }
            allowManageAccount?.apply { localVariableQuery["allowManageAccount"] = listOf("$allowManageAccount") }
            importMusicCategoryOnly?.apply { localVariableQuery["importMusicCategoryOnly"] = listOf("$importMusicCategoryOnly") }

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/youtube/connect",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /youtube/disconnect
        * Disconnects from youtube
        * 
         * @return YoutubePresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun youtubeDisconnectYoutubeDisconnect(): HttpResponse<YoutubePresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/youtube/disconnect",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /youtube/test
        * Testing operation
        * A &#39;Hello World&#39; method to verify that the service is running
         * @return void
        */
        public open suspend fun youtubeGetJsonYoutubeTest(): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>()

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/youtube/test",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = false,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /youtube/connect.status
        * gets user&#39;s name and whether or not is registered with youtube api
        * 
         * @return YoutubePresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun youtubeGetUserInfoYoutubeConnectStatus(): HttpResponse<YoutubePresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/youtube/connect.status",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /youtube/import
        * imports user collection
        * 
         * @param full (true/false) if true it will re-scan the full YouTube collection instead of resuming from the last successful playlist (optional)
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return void
        */
        public open suspend fun youtubeImportCollectionYoutubeImport(full: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<Unit> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            full?.apply { localVariableQuery["full"] = listOf("$full") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/youtube/import",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /youtube/import/playlist/{playlist_key}
        * imports a playlist
        * 
         * @param playlistKey The playlist id to import 
         * @param full (true/false) if true it will re-scan the full YouTube playlist instead of resuming from the last successful item (optional)
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.collections.List<TunePresentationBeanImpl>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun youtubeImportPlaylistsYoutubeImportPlaylistPlaylistKey(playlistKey: kotlin.String, full: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.collections.List<TunePresentationBeanImpl>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            full?.apply { localVariableQuery["full"] = listOf("$full") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/youtube/import/playlist/{playlist_key}".replace("{" + "playlist_key" + "}", "$playlistKey"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /youtube/reconnect
        * Reconnects to youtube with the previous credentials
        * 
         * @return YoutubePresentationBean
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun youtubeReconnectYoutubeReconnect(): HttpResponse<YoutubePresentationBean> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/youtube/reconnect",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /youtube/search/{query_param}
        * searches youtube for results
        * 
         * @param queryParam The user&#39;s param that will search youtube for 
         * @param resultTypes Optional result types filter. Comma separated values: TUNE, RELEASE, PLAYLIST (optional)
         * @param clientID  (optional)
         * @param callbacks The flag to indicate whether or not to send callback via websocket. Allow type: &#39;CALLBACKS_OFF&#39; and &#39;CALLBACKS_ON&#39; (optional)
         * @return kotlin.collections.List<kotlin.Any>
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun youtubeSearchYoutubeYoutubeSearchQueryParam(queryParam: kotlin.String, resultTypes: kotlin.String?, clientID: kotlin.String?, callbacks: kotlin.String?): HttpResponse<kotlin.collections.List<kotlin.Any>> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()
            resultTypes?.apply { localVariableQuery["resultTypes"] = listOf("$resultTypes") }

            val localVariableHeaders = mutableMapOf<String, String>()
            clientID?.apply { localVariableHeaders["Client-ID"] = this.toString() }
            callbacks?.apply { localVariableHeaders["Callbacks"] = this.toString() }

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/youtube/search/{query_param}".replace("{" + "query_param" + "}", "$queryParam"),
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        /**
        * GET /youtube/stop.importing
        * Will stop importing user&#39;s library 
        * 
         * @return kotlin.String
        */
            @Suppress("UNCHECKED_CAST")
        public open suspend fun youtubeStopImportingYoutubeStopImporting(): HttpResponse<kotlin.String> {

            val localVariableAuthNames = listOf<String>("ClientID")

            val localVariableBody = 
                    io.ktor.client.utils.EmptyContent

            val localVariableQuery = mutableMapOf<String, List<String>>()

            val localVariableHeaders = mutableMapOf<String, String>()

            val localVariableConfig = RequestConfig<kotlin.Any?>(
            RequestMethod.GET,
            "/youtube/stop.importing",
            query = localVariableQuery,
            headers = localVariableHeaders,
            requiresAuthentication = true,
            )

            return request(
            localVariableConfig,
            localVariableBody,
            localVariableAuthNames
            ).wrap()
            }

        }
